<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Constest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
    <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
        <h2 th:text="'Trilhas do Evento :' + ${evento.nome}"></h2>
        <div th:if="${organizadorError}" class="chip red darken-1">
        	<span class="white-text" th:text= "${organizadorError}"></span>
        	<i class="material-icons">close</i>
        </div>
        
        <form class="col s12">
          <div class="row"></div>
          <div class="input-field col m3 offset-m10 s6"> 
          	<a id="btn-modal" href="#modal1" class="waves-effect waves-light btn white-text modal-trigger">Trilha<i aria-hidden="true" class="fa fa-plus left"> </i></a>
          </div>
          <div class="row">
            <div class="input-field col m12 s6">
              <table class="striped centered">
                <thead>
                  <tr> 
                    <th>Trilha</th>
                    <th>Trabalhos Enviados</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody >             
                  <tr th:each="itemTrilha : ${trilhas}">
                    <td><p th:text="${itemTrilha.nome}"></p></td>
                    <td>Numero de Submissoes</td>
                    <td> <a th:href="@{'/eventoOrganizador/trilha/' + ${itemTrilha.id} +'/'+ ${evento.id}}">Ver Trilha      </a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="paginacao">         
                        <div class="row col s12 center">
                          <ul class="pagination">
                            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="waves-effect"><a href="#">2</a></li>
                            <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                          </ul>
                        </div>
          </div>
        </form>
      </div>
      <form th:action="@{/eventoOrganizador/trilhas}" action="#" th:object="${trilha}" method="post">
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Adicionar Trilha</h4>
            <div class="input-field col m6 s6">
            	<input type="hidden" th:value="${evento.id}" name = "eventoId"/>
            	<input id="nome_da_trilha" th:field="*{nome}" name="nome" type="text" />
            	<label for="nome_da_trilha">Nome da Trilha</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" value="Confirmar" class="modal-action modal-close waves-effect btn-flat">Confirmar</button>
          	<a href="#" class="modal-action modal-close waves-effect btn-flat">Fechar</a>
       	  </div>
        </div>
      </form>
    </div>
    <div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript">
      $(document).ready(function(){
    	//Inicialização do Modal excluir Evento
        $('.modal-trigger').leanModal();  
    	 
        //Inicialização dos elementos no JS
        //Parallax BG
        $('.parallax').parallax();
        
        //sideNav
        $(".button-collapse").sideNav();
        
        //Tooltips
        $('.tooltipped').tooltip({delay: 50});
        
        //select_initializer
        $('select').material_select();
        
        //datepicker
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year
          //Persnonalizando nomes dos meses do ano
          monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
          //Persnonalizando nomes dos dias da semana
          weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
          weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
          weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
          today: 'Hoje',
          clear: 'Limpar',
          close: 'Fechar'
        });
        
        //Trata as datas na tela org_editar_eventos 
        var calendarioSubmissaoInicial = "#prazo_submissao_inicial";
        var calendarioSubmissaoFinal = "#prazo_submissao_final";
        var calendarioRevisaoInicial = "#prazo_revisao_inicial";
        var calendarioRevisaoFinal = "#prazo_revisao_final";
        
        function habilitarCalendario(calendario){
          $(calendario).removeAttr( "disabled" );
        }
        
        function desabilitarCalendario(calendario){
          $(calendario).attr( "disabled", true );
          $(calendario).pickadate("clear");
        }
        
        function definirDataMinimaCalendario(calendario, dataMin){
          var picker = getPicker(calendario);
          picker.set("min", dataMin);
        }
        
        function getPicker(idCalendario){
          var $input = $(idCalendario).pickadate();
          var picker = $input.pickadate("picker");
          return picker;
        }
        
        function configurarCalendario(idCalendarioInicial, idCalendarioFinal){
          var picker = getPicker(idCalendarioInicial);
          var dataAtual = picker.get();
          var umDia = 1;
          
          var dataMinima = new Date(dataAtual);
          dataMinima.setDate(dataMinima.getDate()+umDia);
                
          if (dataAtual.length == 0) {
            desabilitarCalendario(idCalendarioFinal);
          } else {
            habilitarCalendario(idCalendarioFinal);       
            
            definirDataMinimaCalendario(idCalendarioFinal, dataMinima);
          }
        }
        
        $(calendarioSubmissaoInicial).on("change",function(){
          configurarCalendario(calendarioSubmissaoInicial, calendarioSubmissaoFinal);
        });
        
        $(calendarioSubmissaoFinal).on("change",function(){
          configurarCalendario(calendarioSubmissaoFinal, calendarioRevisaoInicial);
        });
        
        $(calendarioRevisaoInicial).on("change",function(){
          configurarCalendario(calendarioRevisaoInicial, calendarioRevisaoFinal);
        });
        
        
        
      });
    </script>
  </body>
</html>