<!DOCTYPE html>
<html>
  <head>
    <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    
    <div class="container page"><br/>
    	
    	<div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      

      <h2>Considerações dos Revisores</h2>
      
      <div th:each="revisao : ${revisoes}">
	      	<div class="col s12">
	        <div class="col s12 m7">
	          <div class="card horizontal">
	            <div class="card-stacked">
	              <div class="card-content">
	                <h5 th:text="${revisao.trabalho.titulo}"></h5>
	                <b>Revisor:</b> <span th:text="${revisao.revisor.nome}"></span>
	                <br/>
	                <b>Autor:</b> <span>s</span>
	                <p th:text="${revisao.observacoes}">	                
	                </p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
      </div>
      
      
      <div id="paginacao">
                <div class="row col s12 center">
                  <ul class="pagination">
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="waves-effect"><a href="#">2</a></li>
                    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                  </ul>
                </div>
      </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>
