<!DOCTYPE html>
<html>
  <head>
   <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
      	
      	<div th:if="${sucessoExcluir}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_INATIVO_EXCLUIDO_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${sucessoCadastrar}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_CADASTRADO_COM_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${sucessoEditar}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_EDITADO_COM_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${erroExcluir}" class="chip red darken-1">
          <span class="white-text" th:text="#{EVENTO_INATIVO_EXCLUIDO_ERRO}"></span>
          <i class="material-icons">close</i>
        </div>
        
      </div>
      <div class="row">
        <h2>Lista de Eventos Inativos</h2>
        
        <div th:each="eventoOrganizo : ${eventosQueOrganizo}" class="col m6 s12">
          <div class="card">
              
            <div class="card-content"><span class="card-title" th:text="${eventoOrganizo.nome}"></span>
              <div th:include="fragments/listar_participacoes :: listar('Organizador(es):', ${eventoOrganizo.organizadores})"></div>
              <p th:text="|Visibilidade: ${eventoOrganizo.visibilidade.visibilidade}|"></p>
            </div>
            <div class="card-action">
              <a th:href="@{'/eventoOrganizador/ativar/' + ${eventoOrganizo.id}}"  class="btn white-text waves-effect waves-light">Ativar</a>
              <a th:href="@{'/eventoOrganizador/editar/' + ${eventoOrganizo.id}}" class="btn white-text waves-effect waves-light orange">Editar</a>
            </div>
              
          </div>
        </div>    
		<div th:each="evento : ${eventosInativos}" class="col m6 s12">
            <div class="card">
              <div class="card-content"><span class="card-title" th:text="${evento.nome}"></span>
                <p th:text="|Organizador: ${evento.participacoes[0].pessoa.nome}|"></p>
                <p th:text="|Visibilidade: ${evento.visibilidade.visibilidade}|"></p>
              </div>
              <div class="card-action">
                <a th:href="@{'/eventoOrganizador/evento/' + ${evento.id}}"  class="btn white-text waves-effect waves-light  blue-grey">Detalhes</a>
              </div>
            </div>
        </div>
        
          <h4 th:if="${!existeEventos}">Não há eventos Inativos</h4>
      </div>
        
<!--         
                <div class="row col s12 center">
                  <ul class="pagination">
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="waves-effect"><a href="#">2</a></li>
                    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                  </ul>
                </div>
 -->
   </div>
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>