<!DOCTYPE html>
<html>
<head>
<div th:include="fragments/head :: head"></div>
<link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container page">
		<br />
		<div
			th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
		<div class="row">
			<h2 th:text="${evento.nome}"></h2>
			<h3 th:if="${#lists.isEmpty(trabalhos)}">Não existem Trabalhos</h3>

			<div>
				<form>
					<div class="input-field col s12">
						<select name="filtrar_trabalhos" id="filtro">
							<option value="todos" selected="selected">Todos</option>
							<option value="best">Best paper</option>
							<th:block th:each="opcao : ${opcoesFiltro}">
								<option th:value="${#strings.toLowerCase(opcao)}"
									th:text="${opcao.descricao}"></option>
							</th:block>
						</select> <label>Filtrar por status:</label>
					</div>
				</form>
				<div th:unless="${#lists.isEmpty(trabalhos)}"
					class="row holder center"></div>
				<div class="col s12">
					<div class="col s12" th:each="trabalho,count : ${trabalhos}"
						th:with="revisado=${trabalho.isRevisado()}, status=${trabalho.status}, best=${trabalho.isIndicadoMelhoresTrabalhos()}">
						<div class="card horizontal"
							th:attr="revisado=${revisado}, best=${best}"
							th:classappend="${status} ? ${#strings.toLowerCase(status)}">


							<div class="card-stacked">
								<div>
									<div class="card-content">
										<span class="card-title" th:text="${trabalho.titulo}"></span>
										<p>
											<b>Trilha : </b> <span th:text="${trabalho.trilha.nome}"></span>
										</p>
										<div
											th:include="fragments/listar_participacoes :: listar-inline('Autor(es):', ${trabalho.autoresDoTrabalho})"></div>
										<div
											th:include="fragments/listar_participacoes :: listar-inline('Revisor(es):', ${trabalho.revisores})">
										</div>

										<div>
											<a th:href="@{|/autor/file/${trabalho.id}|}"
												class="teal-text confirmar modal-trigger">Fazer Download
												do Arquivo </a>
										</div>
									</div>

									<div class="card-action" th:include="fragments/trabalho_status_badge :: mostrarStatusBadge(${trabalho})">
									</div>
								</div>
								<div th:id="${'modal'+trabalho.id}" class="modal">
									<div class="modal-content">
				
				
				<ul class="tabs" th:with="revisoes=${resultadoRevisoes.get(trabalho.id)}">
					<li class="tab col s3" th:each="revisao,iterStat : ${revisoes}">
						<a class="teal-text" th:href="'#revisao' + ${iterStat.count} + '_' + ${trabalho.id}"
						th:text="'Revisao '+ ${iterStat.count}"></a>
					</li>
				</ul>
								 
				<div th:each="revisao,iterStat : ${resultadoRevisoes.get(trabalho.id)}" th:id="'revisao'+ ${iterStat.count} + '_' + ${trabalho.id}" class="col s12">

					<div class="col s12">
						<div>
							<h6 th:text="'Originalidade: ' + ${revisao.originalidade}"></h6>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.originalidade})"></div>
							
						</div>
						<div>
							<h6 th:text="'Clareza: ' + ${revisao.clareza}"></h6>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.clareza})"></div>
							
						</div>
						<div>
							<h6 th:text="'Relevância: ' + ${revisao.relevancia}"></h6>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.relevancia})"></div>
						</div>
						<div>
							<h6 th:text="'Merito Técnico: ' + ${revisao.merito}"></h6>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.merito})"></div>
						</div>
						<div>
							<h6 th:text="'Qualidade do Texto: ' + ${revisao.qualidade}"></h6>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.qualidade})"></div>
						</div>
						<div>
							<h6 th:text="'Status: ' + ${revisao.avaliacao_final}"></h6>
							<div th:replace="fragments/barra_de_progresso :: barra-revisao-status(${revisao.avaliacao_final})"></div>
						</div>
						<div>
							<h6 th:text="'Avaliação geral: ' + ${revisao.avaliacao_geral}"></h6>
							<div th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.avaliacao_geral})"></div>
						</div>
						<div>
							<h6>Comentários do Revisor:</h6>
							<div class="progress">
								<div style="width: 100%" class="determinate"></div>
							</div>
							<p th:text="${revisao.comentarios_autores}">O artigo está
								muito bem escrito, bem claro e objetivo. No entanto, a
								contribuição do artigo baseia-se fortemente do resultado de
								outros trabalhos, já que durante o trabalho não foram realizadas
								simulações. Os resultados obtidos pelos autores da simulação
								podem ser explicado mais detalhadamente, visto que é a parte
								mais importante do artigo. No mais, a realização por parte do
								autor de simulações envolvendo os protocolos citados trariam
								grande valia a trabalho.</p>
								
						</div>	
					</div>
				</div>
				

										<h4>Status</h4>
										<form class="col s12"
											th:action="@{/eventoOrganizador/avaliar/}" method="post">
											<div class="row">
												<div class="input-field col s12">
													<input type="hidden" th:value="${trabalho.id}"
														th:name="idTrabalho" /> <input type="hidden"
														th:value="${evento.id}" th:name="idEvento" /> 
													<select name="avaliacao" required="required">
						                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
						                                <option th:with="aprovado=${T(ufc.quixada.npi.contest.model.Avaliacao).APROVADO}" 
						                                	th:value="${aprovado}" th:text="${aprovado.descricao}">APROVADO</option>
						                               	<option th:with="ressalvas=${T(ufc.quixada.npi.contest.model.Avaliacao).RESSALVAS}" 
						                                	th:value="${ressalvas}" th:text="${ressalvas.descricao}">COM RESSALVA</option>
						                                <option th:with="reprovado=${T(ufc.quixada.npi.contest.model.Avaliacao).REPROVADO}" 
						                                	th:value="${reprovado}" th:text="${reprovado.descricao}">REPROVADO</option>
						                            </select>
												</div>
											</div>
											<div class="modal-footer">

												<a
													class=" modal-action modal-close btn waves-effect waves-light red white-text">Cancelar</a>

												<button class="left btn waves-effect waves-light"
													type="submit" name="action">Aplicar status</button>

											</div>
										</form>

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:unless="${#lists.isEmpty(trabalhos)}"
			class="row holder center"></div>
	</div>
	<div th:include="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/filtro_listar_trabalhos.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();

			//Inicialização do Modal excluir Evento
			$('.modal-trigger').leanModal();

			$(document).ready(function() {
				$('.collapsible').collapsible();
			});

			$('.dropdown-button').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrain_width : false, // Does not change width of dropdown to that of the activator
				hover : true, // Activate on hover
				gutter : 0, // Spacing from edge
				belowOrigin : false, // Displays dropdown below the button
				alignment : 'left' // Displays dropdown with edge aligned to the left of button
			});

		});
	</script>
</body>
</html>
