<!DOCTYPE html>
<html>
  <head>
    <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page"><br/>
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
      <div th:if="${organizadorError}" class="chip red darken-1">
        	<span class="white-text" th:text= "${organizadorError}"></span>
        	<i class="material-icons">close</i>
      </div>
        <h2>Detalhes do Evento: 
        	<span class="card-title" th:text="${evento.nome}" ></span>
        </h2>
        <p th:text="${evento.descricao}"></p>
       	<div th:if="${organizaEvento}">
       		<form th:action="@{/eventoOrganizador/addOrganizadores}"  method="post">
	       	  <div class="input-field col s10">
	       	    <input type="hidden" th:value="${evento.id}" name="idEvento"/>
			    <select multiple="multiple" name="idOrganizadores">
			      <option value="" disabled="disabled" selected="selected">Selecione os Organizadores</option>
			      <div th:each="pessoa : ${pessoas}">
			        <option th:if="${pessoa.id == idPessoa}" th:value="${pessoa.id}" th:text="${pessoa.nome}" selected="selected"></option>
	                <option th:if="${pessoa.id != idPessoa}" th:value="${pessoa.id}" th:text="${pessoa.nome}" ></option>   
			      </div>
			    </select>
	            <label>organizadores</label>
	          </div>
	          <div class="col s2">
				<button class="btn waves-effect waves-light" type="submit" name="action">Add
				  <i class="material-icons right"></i>
				</button>
	          </div>
	       	</form>
       	
       	
       	</div>
        <div >
          <div class="col s12">
            <div class="card horizontal">
               <div th:include="fragments/evento_timeline::evento-timeline(evento=${evento})"></div>
            </div>
          </div>
        </div>
        <div>
          <div class="col s3">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content"><span class="card-title">Trilhas</span>
                  <p th:text="'Cadastradas: '+ ${numeroTrilhas}"></p>
                  <br /><br />
                </div>
                <div class="card-action" th:if="${organizaEvento}">
                  <a th:href="@{'/eventoOrganizador/trilhas/' + ${evento.id}}" class="btn white-text waves-effect waves-light blue-grey">Gerenciar Trilhas</a>
                 </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <span class="card-title">Revisores</span>
                  <p th:text="'Cadastrados: '+ ${numeroRevisores}"></p>
                  <br /><br />
                </div>
                <div class="card-action" th:if="${organizaEvento}">
                  <a th:href="@{'/eventoOrganizador/evento/'+ ${evento.id} +'/revisores'}" class="btn white-text waves-effect waves-light blue-grey">Atribuir Revisores</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <span class="card-title">Trabalhos</span>
                  <p th:text="'Submetidos: '+ ${numeroTrabalhos}"></p>
                  <p th:text="'Revisados: '+ ${numeroTrabalhosRevisados}"></p>
                  <p th:text="'Não Revisados: '+ ${numeroTrabalhosNaoRevisados}"></p>
                </div>
                <div class="card-action" th:if="${organizaEvento}">
                  <a href="#" class="btn disabled white-text waves-effect waves-light blue-grey">Ver todos</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <span class="card-title">Revisões</span>
                  <p th:text="'Comentadas: '+ ${comentarios}"></p>
                  <br /><br />
                </div>
                <div class="card-action" th:if="${organizaEvento}">
                  <a href="#" class="btn disabled white-text waves-effect waves-light blue-grey">Ver todas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div th:include="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
  </body>
</html>