<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Contest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
		<div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
    	<h2>Gerar planilha de dados dos Trabalhos</h2>
		<div class="row">
			<a href="#" onclick="selecionarTodos()">Selecionar todos</a>
			<a href="#" onclick="removerTodos()">Não selecionar todos</a>
			<div class="col m12 s12">
				<br/>
				<div th:if="${not #lists.isEmpty(trabalhos)}">
					<form th:action="@{/eventoOrganizador/gerarCertificadosTrabalho}" method="POST">
						<div th:each="trabalho,count : ${trabalhos}">
		      				<input type="checkbox" th:id="${count.index}" name="trabalhosIds" th:value="${trabalho.id}" th:checked="${trabalho.statusApresentacao}" /> 
		      				<label class="black-text" th:for="${count.index}" th:text="${trabalho.titulo}" ></label>
		      				<a th:if="${trabalho.statusApresentacao}" class="green-text"><small><b>revisado</b></small></a>
						</div>
						<br/>
						<button type="submit" class="waves-effect waves-light btn white-text">Gerar Planilha</button>		
					</form>
				</div>
				<div th:if="${#lists.isEmpty(trabalhos)}">
					Não há dados disponíveis
				</div>
			</div>
		</div>
	</div>
   <div th:include="fragments/footer :: footer"></div>
   <script  type="text/javascript" th:src="@{/js/selecionar_trabalhos_pdf.js}"></script>
  </body>
</html>