<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Constest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
        <h2>Editando Dados do Evento</h2>
        <form class="col s12" th:action="@{/eventoOrganizador/ativar}" th:object="${evento}" method="post">
          <div class="error_area col s12" th:if="${#fields.hasErrors('*')}">
            <div class="chip row red left" th:each="err : ${#fields.errors('*')}">
              <span class="white-text" th:text="${err}"></span>
              <i class="material-icons">close</i>
            </div>
          </div>
          <div class="row"> 
          <input type="hidden" th:field="*{id}" />
          <div class="input-field col m8 s12">
            <input id="nome_evento" type="text" th:field="*{nome}" />
          </div>
          
          <div class="input-field col m4 s12">
           	<input th:field="*{visibilidade}" th:value="PUBLICO" type="radio" /> 
            <label for="visibilidade1">Publico</label>
            <input th:field="*{visibilidade}" th:value="PRIVADO" type="radio" /> 
            <label for="visibilidade2">Privado</label>
          </div>
          
          <div class="input-field col s12">
            <textarea id="descricao_evento" class="materialize-textarea" th:field="*{descricao}"></textarea>
          </div>
          <div class="input-field col s12">
            <div class="col m3 s3">
              <div class="card-content"><span class="card-title"> Prazo de Submissão - Inicial</span>
                <input type="date" th:field="*{prazoSubmissaoInicial}" id="prazo_submissao_inicial" class="datepicker"/>
              </div>
            </div>
            <div class="col m3 s3">
              <div class="card-content"><span class="card-title"> Prazo de Revisão - Inicial</span>
                <input type="date" th:field="*{prazoRevisaoInicial}" id="prazo_revisao_inicial" disabled="disabled" class="datepicker"/>
              </div>
            </div>
            <div class="col m3 s3">
              <div class="card-content"><span class="card-title"> Prazo de Revisão  - Final</span>
                <input type="date" th:field="*{prazoRevisaoFinal}" id="prazo_revisao_final" disabled="disabled"  class="datepicker"/>
              </div>
            </div>
            <div class="col m3 s3">
              <div class="card-content"><span class="card-title"> Prazo de Submissão - Final</span>
                <input type="date" th:field="*{prazoSubmissaoFinal}" id="prazo_submissao_final" disabled="disabled" class="datepicker"/>
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="waves-effect waves-light btn white-text">
            Salvar Detalhes e Ativar<i aria-hidden="true" class="fa fa-floppy-o left"></i>
            </button>
          </div>
        </div>
        </form>
      </div>
   <div th:include="fragments/footer :: footer"></div>
  </body>
</html>