<!DOCTYPE html>
<html>
  <head>
   <div th:include="fragments/head :: head"></div>
   <link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
      	
      	<div th:if="${sucessoExcluir}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_INATIVO_EXCLUIDO_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${sucessoCadastrar}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_CADASTRADO_COM_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${sucessoEditar}" class="chip blue darken-1">
          <span class="white-text" th:text="#{EVENTO_EDITADO_COM_SUCESSO}"></span>
          <i class="material-icons">close</i>
        </div>
        
        <div th:if="${erroExcluir}" class="chip red darken-1">
          <span class="white-text" th:text="#{EVENTO_INATIVO_EXCLUIDO_ERRO}"></span>
          <i class="material-icons">close</i>
        </div>
        
      </div>
      <div class="row">
        <h2>Lista de Eventos Inativos</h2>
      </div>
      <div th:if="${#lists.size(eventosQueOrganizo) > 6}" class="row holder center"></div>
      <div class="row" id="itemContainer">
        <div th:each="eventoOrganizo : ${eventosQueOrganizo}" class="col m6 s12">
          <div class="card">
              
            <div class="card-content"><span class="card-title" th:text="${eventoOrganizo.nome}"></span>
              <div th:include="fragments/listar_participacoes :: listar('Organizador(es):', ${eventoOrganizo.organizadores})"></div>
              <p th:text="|Visibilidade: ${eventoOrganizo.visibilidade.visibilidade}|"></p>
            </div>
            <div class="card-action">
              <a th:href="@{'/eventoOrganizador/ativar/' + ${eventoOrganizo.id}}"  class="btn white-text waves-effect waves-light">Ativar</a>
            </div>
              
          </div>
        </div>    
        
          <h4 th:if="${!existeEventos}">Não há eventos Inativos</h4>
      </div>
      <div th:if="${#lists.size(eventosQueOrganizo) > 6}" class="row holder center"></div>

   </div>
    <div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//Inicialização do Jpages para realizar a paginação
        $("div.holder").jPages({
        	containerID : "itemContainer",
        	perPage: 6 //Quantidade de elementos exibidos por página.
        });
      });
    </script>
  </body>
</html>