<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Constest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
        <h2>Editando Dados do Evento</h2>
        <form class="col s12" th:action="@{/eventoOrganizador/editar}" th:object="${evento}" method="post">	
          <div class="error_area col s12" th:if="${#fields.hasErrors('*')}">
            <div class="chip row red left" th:each="erro : ${#fields.errors('*')}">
              <span class="white-text" th:text="${erro}"></span>
              <i class="material-icons">close</i>
            </div>
          </div>
          <div class="row"> 
          </div>
          <input type="hidden" th:field="*{id}" />
          <div class="input-field col m8 s12">
            <input id="nome_evento" type="text" th:field="*{nome}" />
          </div>
          
          <div th:if="*{visibilidade.visibilidade} == Publico" class="input-field col m4 s12">
           	<input th:field="*{visibilidade}" th:value="PUBLICO" checked="checked" type="radio" /> 
            <label for="visibilidade1">Publico</label>
            <input th:field="*{visibilidade}" th:value="PRIVADO" type="radio" /> 
            <label for="visibilidade2">Privado</label>
          </div>
          
          <div th:if="*{visibilidade.visibilidade} == Privado" class="input-field col m4 s12">
           	<input th:field="*{visibilidade}" th:value="PUBLICO" type="radio" /> 
            <label for="visibilidade1">Publico</label>
            <input th:field="*{visibilidade}" th:value="PRIVADO" checked="checked" type="radio" /> 
            <label for="visibilidade2">Privado</label>
          </div>
          
          <div class="input-field col s12">
            <textarea id="descricao_evento" class="materialize-textarea" th:field="*{descricao}"></textarea>
          </div>
          <div class="col s12">
          	 <div class="col s3" th:if="${existeSubmissao} == true">
               <div class="card-content">
                 <span class="card-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="Esta data não pode ser alterada, porque possui uma submissão."> 
                 	Prazo de Submissão - Inicial
                 	<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                 </span>
                 <label type="text" th:text="*{prazoSubmissaoInicial}"></label>
                 <input type="hidden" th:field="*{prazoSubmissaoInicial}" id="prazo_submissao_inicial"/>
               </div>
             </div>
              
             <div class="col s3" th:unless="${existeSubmissao} == false">
               <div class="card-content">
                 <span class="card-title"> 
                 	Prazo de Submissão - Inicial
                 </span>
                 <input type="date" th:field="*{prazoSubmissaoInicial}" id="prazo_submissao_inicial" class="datepicker"/>
               </div>
             </div>
             
             <div class="col s3" th:if="${existeSubmissaoRevisao} == true">
               <div class="card-content">
                 <span class="card-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="Esta data não pode ser alterada, porque possui uma submissão."> 
                 	Prazo de Revisão - Inicial
                 	<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                 </span>
                 <label type="text" th:text="*{prazoRevisaoInicial}"></label>
                 <input type="hidden" th:field="*{prazoRevisaoInicial}" id="prazo_revisao_inicial"/>
               </div>
             </div>
             <div class="col s3" th:unless="${existeSubmissaoRevisao} == false">
               <div class="card-content">
                 <span class="card-title"> 
                 	Prazo de Revisão - Inicial
                 </span>
                 <input type="date" th:field="*{prazoRevisaoInicial}" id="prazo_revisao_inicial" class="datepicker"/>
               </div>
             </div>
                      
             <div class="col s3" th:if="${existeSubmissaoFinal} == true">
               <div class="card-content">
                 <span class="card-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="Esta data não pode ser alterada, porque possui uma versão final de um trabalho."> 
                 	Prazo de Revisão - Final
                 	<i class="fa fa-exclamation-circle" aria-hidden="true"></i><br />
                 </span>
                 <label type="text" th:text="*{prazoRevisaoInicial}"></label>
                 <input type="hidden" th:field="*{prazoRevisaoFinal}" id="prazo_revisao_final"/>
               </div>
             </div>
             <div class="col s3" th:unless="${existeSubmissaoFinal} == false">
               <div class="card-content">
                 <span class="card-title"> 
                 	Prazo de Revisão - Final
                 </span>
                 <input type="date" th:field="*{prazoRevisaoFinal}" id="prazo_revisao_final" class="datepicker"/>
               </div>
                      
                      
             <div class="col s3">
                <div class="card-content"><span class="card-title"> Prazo de Submissão - Final</span>
                  <input type="date" th:field="*{prazoSubmissaoFinal}" id="prazo_submissao_final" class="datepicker"/>
                </div>
              </div> 
              </div>        
                      
           <div th:if="${eventoInativo} == true">
            
             <div class="col s3">
               <div class="card-content"><span class="card-title"> Prazo de Submissão - Inicial</span>
                 <input type="date" th:field="*{prazoSubmissaoInicial}" id="prazo_submissao_inicial" class="datepicker"/>
               </div>
             </div>
             <div class="col s3">
               <div class="card-content"><span class="card-title"> Prazo de Revisão - Inicial</span>
                 <input type="date" th:field="*{prazoRevisaoInicial}" id="prazo_revisao_inicial" disabled="disabled" class="datepicker"/>
               </div>
             </div>
             <div class="col s3">
               <div class="card-content"><span class="card-title"> Prazo de Revisão  - Final</span>
                 <input type="date" th:field="*{prazoRevisaoFinal}" id="prazo_revisao_final" disabled="disabled" class="datepicker"/>
               </div>
             </div>
             <div class="col s3">
               <div class="card-content"><span class="card-title"> Prazo de Submissão - Final</span>
                 <input type="date" th:field="*{prazoSubmissaoFinal}" id="prazo_submissao_final" disabled="disabled" class="datepicker"/>
               </div>
             </div>
            
           </div>
          
          </div>
          <div class="input-field col s12">
            <button type="submit" class="waves-effect waves-light btn white-text">
            Salvar Alterações<i aria-hidden="true" class="fa fa-floppy-o left"></i>
            </button>
          </div>
        
        </form>
      </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
    <div th:include="fragments/CalendarioJS :: calendario"></div>
  </body>
</html>