<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Constest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
      <div class="row">
        <h2>Lista de Eventos Ativos</h2>
        
        <div class="row" th:switch="${!#lists.isEmpty(eventosAtivos)}"> 
          <div th:case="${true}">

           </div>
           <div class="col m4 s12" th:case="${false}">
            <p>Não há eventos ativos</p>
           </div> 
          </div>
        </div>
        
        <div class="row">
           <div th:each="evento : ${eventosAtivos}" class="col m6 s12">
              <div class="card">
                <div class="card-content">
	              <span class="card-title" th:text="${evento.nome}" ></span>
	              <p th:text="|Organizador: ${evento.participacoes[0].pessoa.nome}|"></p>
	              <p th:text="|Visibilidade: ${evento.visibilidade.visibilidade}|"></p>
                </div>
                <div class="card-action">
              	  <div class="row">
              	  
	              	  <div class="col m4 s4">
	              	  	<a href="#" class="purple-text">Inativar</a>
	              	  </div>
	              	  <div class="col m4 s4">
	              	  	<a th:attr="href='#modal' + ${evento.id}" 
	              	  	class="purple-text modal-trigger">Revisar</a>
	              	  </div>
	              	  <div class="col m4 s4">
	              	    <a th:href="@{'/eventoOrganizador/evento/' + ${evento.id}}" class="purple-text">Detalhes</a>
	              	  </div>
              	  
              	  </div>
                </div>
              </div>
              <div th:attr="id='modal'+${evento.id}" class="modal">
          		<div class="modal-content">
	            	<h5 th:text="| Participar do Evento ${evento.nome} como revisor|"></h5>
	            	<p>Tem certeza que quer participar desse evento como revisor?</p>	
          		</div>
          		<form th:action="@{/eventoOrganizador/participarevento}" method="post">		
					<div class="modal-footer">
						<input type="hidden" name="idEvento" th:value="${evento.id}"/>
						<button type="submit" class="modal-action modal-close waves-effect btn-flat">Confirmar</button><a
						href="#" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
					</div>
				</form>	
        	  </div>
             </div>
        
        
        	<div th:each="eventoParticipo : ${eventoQueParticipo}" class="col m6 s12">
              <div class="card">
                <div class="card-content">
	              <span class="card-title" th:text="${eventoParticipo.nome}" ></span>
	              <p >Participando</p>
	              <p th:text="|Organizador: ${eventoParticipo.participacoes[0].pessoa.nome}|"></p>
	              <p th:text="|Visibilidade: ${eventoParticipo.visibilidade.visibilidade}|"></p>
                </div>
                <div class="card-action">
              	  
            	  <a href="#" class="blue-text">Revisando</a>
            	  <a th:href="@{'/eventoOrganizador/evento/' + ${eventoParticipo.id}}" class="purple-text">Detalhes</a>
              	  
                </div>
              </div>
        		
        	<div class="col m4 s12" th:if="${!existeEventos}">
              <p>Não há eventos Ativos</p>
            </div>
        		
        	</div>

        </div>
        
        
                <div class="row col s12 center">
                  <ul class="pagination">
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="waves-effect"><a href="#">2</a></li>
                    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                  </ul>
                </div>
      </div>
    <div th:include="fragments/footer :: footer"></div>
    <script  type="text/javascript" th:src="@{/js/remover_notificacao.js}"></script>
  </body>
</html>