<!DOCTYPE html>
<html>
  <head>
    <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page"><br/>
      <div th:include="fragments/organizador_menu_navegacao :: organizador_menu_navegacao"></div>
    
      
      <div class="row">
        <h2>Lista de Eventos</h2>
        <div>
        <div th:if="${eventoVazioError != null}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="${eventoVazioError}">
				<i class="material-icons">close</i>
		  </div>
			
			<div th:if="${eventoInexistenteError != null}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="${eventoInexistenteError}">
				<i class="material-icons">close</i>
			</div>
			
			<div th:if="${participarEventoInativoError != null}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="${participarEventoInativoError}">
				<i class="material-icons">close</i>
			</div>
			
			<div th:if="${particapacaoEventoSucesso != null}" id="success_area" class="row chip green white-text" style="margin-right: 5px;margin-left: 5px;" th:text="${particapacaoEventoSucesso}">
			<i class="material-icons">close</i>
			</div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="pesquisar" type="text" class="col s11"/>
            <label for="pesquisar">Procurando um evento específico?</label><a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">search</i></a>
          </div>
        </div>
        
        <div class="row" th:if="${not #lists.isEmpty(eventos)}">
          <div class="row" th:each="evento : ${eventos}">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content"><span class="card-title" th:text="${evento.nome}"></span>
                  <p th:text="${evento.descricao}">
                  </p>
                  
                 <section class="cd-horizontal-timeline">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol>
									<li><a href="#0" th:attr="data-date=${#calendars.format({evento.PrazoSubmissaoInicial},'dd/MM/YYYY')}" class="selected" th:text="${#calendars.format({evento.PrazoSubmissaoInicial},'dd MMM')}">16 Jan</a></li>
									<li><a href="#0" th:attr="data-date=${#calendars.format({evento.PrazoRevisaoInicial},'dd/MM/YYYY')}" th:text="${#calendars.format({evento.PrazoRevisaoInicial},'dd MMM')}">28 Feb</a></li>
									<li><a href="#0" th:attr="data-date=${#calendars.format({evento.PrazoRevisaoFinal},'dd/MM/YYYY')}" th:text="${#calendars.format({evento.PrazoRevisaoFinal},'dd MMM')}">20 Mar</a></li>
									<li><a href="#0" th:attr="data-date=${#calendars.format({evento.PrazoSubmissaoFinal},'dd/MM/YYYY')}" th:text="${#calendars.format({evento.PrazoSubmissaoFinal},'dd MMM')}">20 Mar</a></li>
								</ol>
								<span class="filling-line" aria-hidden="true"></span>
							</div>
						</div>
						<ul class="cd-timeline-navigation">
							<li><a href="#0" class="prev inactive">Prev</a></li>
							<li><a href="#0" class="next">Next</a></li>
						</ul>
					</div>
					<div class="events-content">
						<ol>
							<li class="selected" th:attr="data-date=${#calendars.format({evento.PrazoSubmissaoInicial},'dd/MM/YYYY')}">
								<em>Começa o período de submissão dos artigos</em>
							</li>
							<li th:attr="data-date=${#calendars.format({evento.PrazoRevisaoInicial},'dd/MM/YYYY')}">
								<em>Terminou o periodo de subissão, hora de começar as Revisões</em>
							</li>
				
							<li th:attr="data-date=${#calendars.format({evento.PrazoRevisaoFinal},'dd/MM/YYYY')}">
								<em>Terminaram as revisões, hora de submeter a versão final</em>
							</li>
							
							<li href="#0" th:attr="data-date=${#calendars.format({evento.PrazoSubmissaoFinal},'dd/MM/YYYY')}">
								<em>Ultimo dia para submeter a versão final do artigo</em>
							</li>
						</ol>
					</div>
				 </section>
                </div>
                <div class="card-action"><a th:href="@{'/revisor/' + ${evento.id} + '/trabalhosRevisao'}" class="waves-effect waves-light btn-large white-text">Ver Trabalhos para revisão</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row col s12 center">
        	<ul class="pagination">
            	<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
            	<li class="active"><a href="#">1</a></li>
             	<li class="waves-effect"><a href="#">2</a></li>
             <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
  </body>
</html>