<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="header">
		<nav role="navigation" class="purple darken-4">
			<div class="nav-wrapper container" sec:authorize="isAuthenticated()">
							
				<div >
					<a sec:authorize = "hasRole('USER')" th:href="@{/dashboard}"><img th:src="@{/img/logotipo_white.png}" alt="Contest" width="200px" /></a>
					<a sec:authorize = "hasRole('ADMIN')" th:href="@{/evento/ativos}"><img th:src="@{/img/logotipo_white.png}" alt="Contest" width="200px" /></a>
					<ul class="white-text right hide-on-med-and-down">
						<li> <a th:href="@{/dashboard}"> Ir para Dashboard </a></li>
						<li sec:authorize = "hasRole('ADMIN')"> <a th:href="@{/evento/ativos}"> Ir para Início </a> </li>
						
						<li><a th:href="@{/perfil}"
							th:text="${#authentication.getPrincipal().getNome()}"></a></li>
	
						<li><form th:action="@{/logout}" method="POST" id="logout">
								<a
									onclick="document.getElementById('logout').submit(); return false;">Sair</a>
							</form></li>
					</ul>
				</div>
				
				
				
				<!-- Dropdown Trigger -->
				<div class="right">
					<ul id="nav-mobile" class="side-nav">
						<li><a href="#">Nome</a></li>
						<li><a href="#">Sair&nbsp;<i class="fa fa-sign-out"
								aria-hidden="true"></i></a></li>
					</ul>
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i
						class="material-icons">menu</i></a>
				</div>

			</div>
		</nav>
	</div>
</body>
</html>
