<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div th:fragment="organizador_menu_navegacao">
		<div class="row opcoes">
		    <a th:href="@{/eventoOrganizador}">Meus Eventos</a>
	        <a th:href="@{/eventoOrganizador/ativos}">Eventos Ativos</a>
	       	<a th:href="@{/eventoOrganizador/inativos}">Eventos Inativos</a>

	       	<a th:href="@{/secao/paginaSecao}">Visualizar Seções</a>
			<!-- <a th:text="${#authentication.getPrincipal()}"></a> -->
	       	<a th:if= "${evento != null} ? ${#strings.equals(evento.visibilidade.getVisibilidade(),'Privado')}
	       	 and ${#strings.equals(evento.estado,'ATIVO')} and ${#arrays.contains(evento.getOrganizadores(), #authentication.getPrincipal())} " 
	       	 class="modal-trigger" href="#modalConvidarPessoas">Convidar Pessoas</a>
	       <!-- Dropdown Structure -->
			<ul th:if="${evento}" id='dropdown1' class='dropdown-content'>
				<li><a th:href="@{|/eventoOrganizador/gerarCertificadosOrganizador/${evento.id}|}">Dados da Organização</a></li>
			  	<li><a th:href="@{|/eventoOrganizador/gerarCertificadosRevisores/${evento.id}|}">Dados dos Revisores</a></li>
			  	<li><a th:href="@{|/eventoOrganizador/gerarCertificadosTrabalho/${evento.id}|}">Dados dos Trabalhos</a></li>
			  	
			</ul>
	       	<!-- Dropdown Trigger -->
 			<a  th:if="${gerarCertificado}" class='dropdown-button' href='#' data-activates='dropdown1'>Planilhas</a>
 			
 			
	       
	       	<a class=" btn-large waves-effect waves-light purple right white-text"  onclick="window.history.back()" alt="VOLTAR" >
	       		Voltar
	       	</a>
	    </div>
	</div>
</body>
</html>