<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div th:fragment="organizador_menu_navegacao">
		<div class="row opcoes">
		    <a th:href="@{/eventoOrganizador}">Meus Eventos</a>
	        <a th:href="@{/eventoOrganizador/ativos}">Eventos Ativos</a>
	       	<a th:href="@{/eventoOrganizador/inativos}">Eventos Inativos</a>
	       	<a class=" btn-large waves-effect waves-light purple right white-text"  onclick="window.history.back()" alt="VOLTAR" >
	       		Voltar
	       	</a>
	    </div>
	</div>
</body>
</html>