<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Constest - Controle de Eventos de Submissão</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
	<div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/admin_menu_navegacao :: admin_menu_navegacao"></div>
      <div class="row">
      	<h2 class="col s12">Eventos Ativos</h2>
      </div>

      <div class="row" th:switch="${!#lists.isEmpty(eventosAtivos)}">
        <div th:case="${true}">
         
         <div th:each="evento : ${eventosAtivos}" class="col m6 s6">
          <div class="card">
            <div class="card-content"><span class="card-title" th:text="${evento.nome}" ></span>
              <p th:text="|Organizador: ${evento.participacoes[0].pessoa.nome}|"></p>
              <p th:text="|Visibilidade: ${evento.visibilidade.visibilidade}|"></p>
            </div>
            <div class="card-action"><a href="#" class="btn white-text waves-effect waves-light blue-grey">Inativar</a></div>
          </div>
         </div>
        </div>
        
        

        <div class="col m4 s12" th:if="${false}">
          <p>Não há eventos Ativos</p>
        </div>
        
        <div class="center">
          <ul class="pagination">
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="waves-effect"><a href="#">2</a></li>
            <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
      
    </div>
    <div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript">
      $(document).ready(function(){
        //Js para o dropdown
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
          }
        );
      });
    </script>
  </body>
</html>