<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="fragments/head :: head"></div>
</head>
<body>
  <div th:include="fragments/header :: header"></div>
  <div class="container page">
    <div th:include="fragments/admin_menu_navegacao :: admin_menu_navegacao"></div>
    <div class="row">
      <h2 class="col s12">Adicionar Evento</h2>
    </div>
    <form class="row"  th:action="@{/evento/adicionarEvento}" th:object="${evento}" method="post">
      <input type="hidden" th:field="*{id}" />
	      <div class="error_area col s12" th:if="${#fields.hasErrors('*')}">
	        <div class="chip row red left" th:each="err : ${#fields.errors('*')}">
	         	<span class="white-text" th:text="${err}"></span>
	         	 <i class="material-icons">close</i>
	        </div>
      	 </div>
      <div class="input-field col m6 s6">
        <input id="nome_evento" type="text" th:field="*{nome}" />
        <label for="nome_evento">Nome do Evento</label>
      </div>
      
      
        <div class="input-field col m6 s6">
        	<input id="email" type="text" name="email"/>
       	    <label for="email">Email</label>
      	</div>
     
      <div class="input-field col m12 s6">
        <textarea id="descricao" th:field="*{descricao}"  class="materialize-textarea" length="255" maxlength="255"></textarea> 
        <label for="descricao">Descrição</label>
      </div>
      
       <div class="input-field col s12">
        <button type="submit" class="waves-effect waves-light btn white-text">
          Salvar Evento<i aria-hidden="true" class="fa fa-floppy-o left"></i>
        </button>
      </div>
      
    </form>
  </div>
  <div th:include="fragments/footer :: footer"></div>
</body>
</html>