<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head"></div>
<link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet" media="screen,projection" />
<title>Seção - Trabalhos</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<!-- Modal Structure -->
<div id="modal1" class="modal" style="width: 80%; height: 60%">
    <div class="modal-content">
        <h4>Adicionar trabalho(s)</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">

                        <div class="row modal-form-row">
                            <div class="input-field col s12">
                                <select multiple="multiple">
                                    <option value="" disabled="disabled" selected="selected">Selecionar trabalhos</option>
                                    <option value="1" th:text="${qtdTrabalhos}"></option>
                                    <option value="2">Trabalho 2</option>
                                    <option value="3">Trabalho 3</option>
                                    <option value="4">Trabalho 4</option>
                                    <option value="5">Trabalho 5</option>
                                </select>
                            </div>
                        </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect btn-flat teal lighten-1">Adicionar</a>
    </div>
</div>

<!--Seleção de trabalhos da seção-->
<div class="container">

    <div class="row opcoes">
     	<a th:href="@{/eventoOrganizador}" style="color: #6a1b9a;">Meus Eventos</a>
        <a th:href="@{/secao/paginaSecao}" style="color: #6a1b9a;">Seções</a>
        <a href="#modal1" class="modal-trigger"  style="color: #6a1b9a;">ADD - Trabalhos</a>
    </div>
  </div>
  
      <div class="row container">
       <a class=" btn-large waves-effect waves-light purple right white-text"  onclick="window.history.back()" alt="VOLTAR" >
	       		Voltar
	   </a>
	</div>

   <div class="container">
    <!--Dados da Seção-->
    <div class="">
        <h4 class="center-align" th:text="${secao.nome}"></h4>
        <h6 class="right-align">Horário: 8:00</h6>
        <h6 class="right-align">Data: 00/00/0000</h6>
        <h6 th:text="'Descrição: '+${secao.descricao}"></h6>
        <h6 class="right-align" th:text="'Nº de Trabalhos: '+${qtdTrabalhos}"></h6>
    </div>

    <table class="bordered centered striped">
        <thead>
        <tr>
            <th>Nome Autor(es)</th>
            <th>Nome Trabalho</th>
            <th>Área</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Alvin</td>
            <td>Casa automatizada</td>
            <td>IOT</td>
            <td><a class="waves-effect btn-flat red accent-4" id="btn_excluir_trabalho">Deletar<i class="material-icons right">delete</i></a></td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Framework JS</td>
            <td>Desenvolvimento</td>
            <td><a class="waves-effect btn-flat red accent-4">Deletar<i class="material-icons right">delete</i></a></td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Monitoria de POO</td>
            <td>Iniciação à docência</td>
            <td><a class="waves-effect btn-flat red accent-4">Deletar<i class="material-icons right">delete</i></a></td>
        </tr>

        <tr>
            <td>Jonathan</td>
            <td>Monitoria de POO</td>
            <td>Iniciação à docência</td>
            <td><a class="waves-effect btn-flat red accent-4">Deletar<i class="material-icons right">delete</i></a></td>
        </tr>

        <tr>
            <td>Jonathan</td>
            <td>Monitoria de POO</td>
            <td>Iniciação à docência</td>
            <td><a class="waves-effect btn-flat red accent-4">Deletar<i class="material-icons right">delete</i></a></td>
        </tr>

        </tbody>
    </table>

</div>
<br/>

<div th:include="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
</body>
</html>