<!DOCTYPE html>
<html>
  <head>
    <div th:include="fragments/head :: head"></div>
    <link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page">
      <div th:include="fragments/revisor_menu_navegacao :: revisor_menu_navegacao"></div>
      <div class="row">
        <h2>Lista de Eventos Ativos</h2>
        <h4 th:if="${#lists.isEmpty(eventosAtivos)}">Não há eventos ativos</h4>
        <div th:unless="${#lists.isEmpty(eventosAtivos)}" class="row holder center"></div>
        <div class="row" id="itemContainer">
           <div th:each="evento : ${eventosAtivos}" class="col m6 s12">
              <div class="card">
                <div class="card-content">
	              <span class="card-title" th:text="${evento.nome}" ></span>
				  <div th:include="fragments/listar_participacoes :: listar('Organizador(es):', ${evento.organizadores})"></div>
	              <p th:text="|Visibilidade: ${evento.visibilidade.visibilidade}|"></p>
                </div>
                <div class="card-action">
              	  <div class="row">
	              	  <div class="col m4 s4" th:switch="${#lists.contains(eventosComoOrganizador, evento.id)}">
	              	  	<a th:case="true" th:href="@{'/eventoOrganizador/editar/' + ${evento.id}}" class="purple-text">Editar</a>
	              	  </div>
	              	  <div class="col m4 s4" th:switch="${#lists.contains(eventosComoRevisor, evento.id)}">
	              	  	<a th:case="true" class="purple-text">Revisando</a>
	              	  	<a th:case="false" th:attr="href='#modal' + ${evento.id}" class="purple-text modal-trigger">Revisar</a>
	              	  </div>
	              	  <div class="col m4 s4">
	              	    <a th:href="@{'/revisor/evento/' + ${evento.id}}" class="purple-text">Detalhes</a>
	              	  </div>
              	  </div>
                </div>
              </div>
              <div th:attr="id='modal'+${evento.id}" class="modal">
          		<div class="modal-content">
	            	<h5 th:text="| Participar do Evento ${evento.nome} como revisor|"></h5>
	            	<p>Tem certeza que quer participar desse evento como revisor?</p>	
          		</div>
          		<form th:action="@{/revisor/participarevento}" method="post">		
					<div class="modal-footer">
						<input type="hidden" name="idEvento" th:value="${evento.id}"/>
						<button type="submit" class="modal-action modal-close waves-effect btn-flat">Confirmar</button><a
						href="#" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
					</div>
				</form>	
        	  </div>
             </div>
        </div>
        <div th:unless="${#lists.isEmpty(eventosAtivos)}" class="row holder center"></div>
         
      </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      	//Inicialização do Jpages para realizar a paginação
        $("div.holder").jPages({
        	containerID : "itemContainer"
        });
      });
     </script>
  </body>
</html>