<!DOCTYPE html>
<html>
  <head>
    <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page"><br/>
      <div class="row opcoes"><a th:href="@{/revisor}">Eventos Ativos</a></div>
      <div class="row">
        <h1 th:text="${nomeEvento}"></h1>
        <div>
          <div id="error_area" class="row chip red white-text" th:if="${criterioRevisaoVazioError}">
          <span th:text="${criterioRevisaoVazioError}"></span><i class="material-icons">close</i></div>
        </div>
        <div>
          <div id="error_area" class="row chip red white-text" th:if="${trabalhoNaoExisteError}">
          <span th:text="${trabalhoNaoExisteError}"></span><i class="material-icons">close</i></div>
        </div>
        <div>
          <div class="col s12 card">
            <div class="card-content"><span class="card-title" th:text="${trabalho.titulo}">Titulo do trabalho</span>
              <p>Autores: </p>
              <ul class="collection" th:if="${not #lists.isEmpty(autores)}">
      			<li th:each="autor : ${autores}" th:text="${autor.nome}" class="collection-item" >Nome Autor</li>
    		  </ul>
              <p>Co-Autores: </p>
              <ul class="collection" th:if="${not #lists.isEmpty(coAutores)}">
      			<li th:each="coAutor : ${coAutores}" th:text="${coAutor.nome}" class="collection-item" >Nome Co-Autor</li>
    		  </ul>
            </div>
            <div class="card-action">
              <a id="baixar-trabalho" th:href="@{'/revisor/trabalho/' + ${trabalho.id}}" name="baixar-trabalho" class="btn waves-effect waves-light white-text">Fazer Download do Trabalho<i aria-hidden="true" class="fa fa-download left"></i></a>
            </div>
          </div>
        </div>
        <div>
          <h2>Revisão</h2>
          <p>* Critério obrigatórios</p>
          
          <form class="col s12" method="post" th:action="@{/revisor/avaliar}">
            <input type="hidden" name="idTrabalho" th:value="${trabalho.id}"/>
            <input type="hidden" name="idEvento" th:value="${idEvento}"/>
            <div class="col s12 center">
              <input id="problema-formato-trabalho" type="checkbox" name="formatacao" value="Problemas com a formatação"/>
              <label for="problema-formato-trabalho">Há problemas na formatação do trabalho?</label>
            </div>
            <div>
            
              <!-- ORIGINALIDADE -->	
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Originalidade</span>
                      <p>Tema atual e inovador, contribuição científica clara (quando tiver resultados), abordagem ou solução inovadora.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                        	<select name="originalidade">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                                <option value="RUIM">RUIM</option>
                                <option value="FRACO">FRACO</option>
                                <option value="MEDIO">MEDIO</option>
                            	<option value="BOM">BOM</option>
                            	<option value="OTIMO">OTIMO</option>
                      		</select>
              			</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- MERITO -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Mérito Técnico</span>
                      <p>Motivação, fundamentação teórica, metodologia. Para trabalhos que apresentam resultados, avaliar a aquisição e conclusões acerca dos resultados encontrados. Para trabalhos em andamento, avaliar os resultados esperados e o alcance dos resultados dado os objetivos de pesquisa e experimentos propostos.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                        	<select name="merito">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                                <option value="RUIM">RUIM</option>
                                <option value="FRACO">FRACO</option>
                                <option value="MEDIO">MEDIO</option>
                                <option value="BOM">BOM</option>
                                <option value="OTIMO">OTIMO</option>
                       		</select>
                    	</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- CLAREZA -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Clareza</span>
                      <p>Organização do texto, separação e ordenação das seções para os trabalhos, fluxo de ideias coerente, conclusões sobre o trabalho claras e possíveis dadas as premissas, bom uso de figuras/tabelas/exemplos.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                        	<select name="clareza">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                            	<option value="RUIM">RUIM</option>
                            	<option value="FRACO">FRACO</option>
                             	<option value="MEDIO">MEDIO</option>
                            	<option value="BOM">BOM</option>
                            	<option value="OTIMO">OTIMO</option>
                        	</select>
                   		</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- QUALIDADE -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Qualidade do Texto</span>
                      <p>Redação do texto adequada: respeito pelas normas, bibliografia, redação correta em Português/Inglês. Respeito pela formatação especificada pelo edital (tamanho de fonte, espaçamento, tamanho máximo e mínimo).</p>
                    </div>
                    <div class="card-action">
                    <div class="input-field">
                    	<select name="qualidade">
                        	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                        	<option value="RUIM">RUIM</option>
                        	<option value="FRACO">FRACO</option>
                        	<option value="MEDIO">MEDIO</option>
                        	<option value="BOM">BOM</option>
                        	<option value="OTIMO">OTIMO</option>
                    	</select>
                 	</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- RELEVANCIA -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Relevância</span>
                      <p>Relevância do tema abordado no artigo ou resumo.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                        	<select name="relevancia">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                            	<option value="RUIM">RUIM</option>
                            	<option value="FRACO">FRACO</option>
                            	<option value="MEDIO">MEDIO</option>
                            	<option value="BOM">BOM</option>
                            	<option value="OTIMO">OTIMO</option>
                            </select>
              			</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- AUTO AVALIAÇÃO DO REVISOR -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Auto-Avaliação do Revisor</span>
                      <p>Qualificação do revisor em relação ao tema abordado.</p>
                    </div>
                    <div class="card-action">
					    <div class="input-field">
                        	<select name="auto-avaliacao">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                                <option value="Não Conhecedor">Não Conhecedor</option>
                                <option value="Conhecedor">Conhecedor</option>
                                <option value="Especialista">Especialista</option>
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
				
			 <!-- COMENTÁRIOS PARA OS AUTORES -->              
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"></div>
                    <div class="col s12">
                      <div class="input-field">
                        <textarea id="comentarios-para-autor" class="materialize-textarea" name="comentarios_autores"></textarea>
                        <label for="comentarios-para-autor">* Comentários para os autores:</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- COMENTÁRIOS PARA A ORGANIZAÇÃO -->              
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"></div>
                    <div class="col s12">
                      <div class="input-field">
                        <textarea id="comentarios-para-organizacao" class="materialize-textarea" name="comentarios_organizacao"></textarea>
                        <label for="comentarios-para-organizacao">Comentários para a organização:</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- AVALIAÇÃO GERAL -->
              <div class="col m6 s12">
                <div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Avaliação Geral</span>
                      <p>Avaliação global do trabalho. A nota final será obtida a partir dos quesitos: originalidade, mérito técnico, clareza, qualidade e relevância. A avaliação geral, assim como a auto-avaliação, servirá como critério para um eventual desempate.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                         	<select name="avaliacao-geral">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                                <option value="RUIM">RUIM</option>
                                <option value="FRACO">FRACO</option>
                                <option value="MEDIO">MEDIO</option>
                                <option value="BOM">BOM</option>
                                <option value="OTIMO">OTIMO</option>
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- AVALIAÇÃO FINAL -->
              <div class="col m6 s12">
              	<div class="card horizontal small">
                  <div class="card-stacked">
                    <div class="card-content"><span class="card-title">* Avaliação Final do Trabalho</span>
                      <p>A avaliação final do trabalho define se o mesmo será aprovado, aprovado com ressalvas ou reprovado.</p>
                    </div>
                    <div class="card-action">
                    	<div class="input-field">
                         	<select name="avaliacao-final">
                            	<option value="" th:selected="${true}" th:disabled="${true}">Escolha uma opção.</option>
                                <option value="APROVADO">APROVADO</option>
                                <option value="RESSALVAS">APROVADO COM RESSALVAS</option>
                                <option value="REPROVADO">REPROVADO</option>
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- INDICAÇÃO MELHORES TRABALHOS -->
              <div class="col m6 s12">
                <input id="indicar-trabalho" type="checkbox" name="indicar" value="Digno de indicação aos melhores trabalhos"/>
                <label for="indicar-trabalho">Você indicaria este trabalho para premiação dos melhores trabalhos?</label>
              </div>
                
            </div>
            
            <div class="row">
              	<div class="col m6 s12">
                	<button id="submit" type="submit" name="action" class="btn waves-effect waves-light white-text btn-large">Enviar Revisão<i class="material-icons right">send</i></button>
             	</div>
              </div> 
          </form>
        </div>
      </div>
    </div>
    <footer class="page-footer purple darken-4">
      <div class="footer-copyright">
        <div class="container"><a href="http://www.npi.quixada.ufc.br" class="white-text">Desenvolvido por NPI - Núcleo de Práticas em Informática</a></div>
      </div>
    </footer>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        //Inicialização dos elementos no JS
        //Parallax BG
        $('.parallax').parallax();
        
        //sideNav
        $(".button-collapse").sideNav();
        
        //Tooltips
        $('.tooltipped').tooltip({delay: 50});
        
        //select_initializer
        $('select').material_select();
        
        //datepicker
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year
          //Persnonalizando nomes dos meses do ano
          monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
          //Persnonalizando nomes dos dias da semana
          weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
          weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
          weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
          today: 'Hoje',
          clear: 'Limpar',
          close: 'Fechar'
        });
        
        //Trata as datas na tela org_editar_eventos 
        var calendarioSubmissaoInicial = "#prazo_submissao_inicial";
        var calendarioSubmissaoFinal = "#prazo_submissao_final";
        var calendarioRevisaoInicial = "#prazo_revisao_inicial";
        var calendarioRevisaoFinal = "#prazo_revisao_final";
        
        function habilitarCalendario(calendario){
          $(calendario).removeAttr( "disabled" );
        }
        
        function desabilitarCalendario(calendario){
          $(calendario).attr( "disabled", true );
          $(calendario).pickadate("clear");
        }
        
        function definirDataMinimaCalendario(calendario, dataMin){
          var picker = getPicker(calendario);
          picker.set("min", dataMin);
        }
        
        function getPicker(idCalendario){
          var $input = $(idCalendario).pickadate();
          var picker = $input.pickadate("picker");
          return picker;
        }
        
        function configurarCalendario(idCalendarioInicial, idCalendarioFinal){
          var picker = getPicker(idCalendarioInicial);
          var dataAtual = picker.get();
          var umDia = 1;
          
          var dataMinima = new Date(dataAtual);
          dataMinima.setDate(dataMinima.getDate()+umDia);
                
          if (dataAtual.length == 0) {
            desabilitarCalendario(idCalendarioFinal);
          } else {
            habilitarCalendario(idCalendarioFinal);       
            
            definirDataMinimaCalendario(idCalendarioFinal, dataMinima);
          }
        }
        
        $(calendarioSubmissaoInicial).on("change",function(){
          configurarCalendario(calendarioSubmissaoInicial, calendarioSubmissaoFinal);
        });
        
        $(calendarioSubmissaoFinal).on("change",function(){
          configurarCalendario(calendarioSubmissaoFinal, calendarioRevisaoInicial);
        });
        
        $(calendarioRevisaoInicial).on("change",function(){
          configurarCalendario(calendarioRevisaoInicial, calendarioRevisaoFinal);
        });
        
        //Inicialização do Modal excluir Evento
        $('.modal-trigger').leanModal();
        
      });
    </script>
  </body>
</html>