<!DOCTYPE html>
<html>
<head>
<div th:include="fragments/head :: head"></div>
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container page">
		<br />
		<div
			th:include="fragments/revisor_menu_navegacao :: revisor_menu_navegacao"></div>
		<div class="row">
			<div th:if="${organizadorError}" class="chip red darken-1">
				<span class="white-text" th:text="${organizadorError}"></span> <i
					class="material-icons">close</i>
			</div>
			<div th:if="${organizadorSucess}" class="chip green darken-1">
				<span class="white-text" th:text="${organizadorSucess}"></span> <i
					class="material-icons">close</i>
			</div>
			<div th:if="${nao_organizador}" class="chip red darken-1">
				<span class="white-text" th:text="${NAO_ORGANIZADOR}"></span> <i
					class="material-icons">close</i>
			</div>
			<h3>
				Detalhes do Evento: <span class="card-title"
					th:text="${evento.nome}"></span>
			</h3>


			<!-- Modal Trigger -->
					
			<div>
				<div class="col s12">
					<div class="card horizontal">
						<div
							th:include="fragments/evento_timeline::evento-timeline(evento=${evento})"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="col s6">
					<div class="card horizontal" >
						<div class="card-stacked">
							<div class="card-content">
								<span class="card-title">Trilhas</span>
								<div class="" style="max-height: 90px; overflow-x: auto; white-space: nowrap">
								<div th:each="trilha : ${evento.trilhas}">
									<a th:text="${trilha.nome}" th:href="@{'/eventoOrganizador/trilha/' + ${trilha.id} +'/'+ ${evento.id}}"></a>
								</div>
								<br />
							</div>
							<div class="card-action" th:if="${organizaEvento}">
								<a th:href="@{'/eventoOrganizador/trilhas/' + ${evento.id}}"
									class="btn white-text waves-effect waves-light blue-grey">Gerenciar
									Trilhas</a>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card horizontal" style="height: 160px">
						<div class="card-stacked">
							<div class="card-content">
								<span class="card-title">Trabalhos</span>
								<p th:text="'Submetidos: '+ ${numeroTrabalhos}"></p>
								<p th:text="'Revisados: '+ ${numeroTrabalhosRevisados}"></p>
								<p th:text="'Não Revisados: '+ ${numeroTrabalhosNaoRevisados}"></p>
							</div>
							<div class="card-action" th:if="${organizaEvento}">
								<a
									th:href="@{'/eventoOrganizador/evento/' + ${evento.id} + '/trabalhos'}"
									class="btn white-text waves-effect waves-light blue-grey">Ver
									todos</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card horizontal" style="height: 160px">
						<div class="card-stacked">
							<div class="card-content">
								<span class="card-title">Revisões</span>
								<p th:text="'Comentadas: '+ ${comentarios}"></p>
								<br /> <br />
							</div>
							<div class="card-action" th:if="${organizaEvento}">
								<a th:if="${comentarios}"
									th:href="@{'/eventoOrganizador/evento/'+ ${evento.id} +'/revisoes'}"
									class="btn white-text waves-effect waves-light blue-grey">Ver
									todas</a> <a
									th:unless="${comentarios} or ${evento.isPeriodoFinal()}"
									class="btn disabled white-text waves-effect waves-light blue-grey">Ver
									todas</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/footer :: footer"></div>
	
	<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();
	
			//Inicialização do Modal excluir Evento
			$('.modal-trigger').leanModal();
	
			$('.dropdown-button').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrain_width : false, // Does not change width of dropdown to that of the activator
				hover : true, // Activate on hover
				gutter : 0, // Spacing from edge
				belowOrigin : false, // Displays dropdown below the button
				alignment : 'left' // Displays dropdown with edge aligned to the left of button
			}
			);
	
		});
	</script>
</body>
</html>