<!DOCTYPE html>
<html>
<head>
	<div th:include="fragments/head :: head"></div>
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container page">
		 <div th:include="fragments/revisor_menu_navegacao :: revisor_menu_navegacao"></div>
		<div class="row">
			<h1 th:text="${evento.nome}"></h1>
			<h2>Lista de Artigos para Revisão</h2>
			<div>
				<div id="success_area" class="row chip green white-text" th:if="${trabalhoRevisado}">
				<span th:text="${trabalhoRevisado}"></span><i class="material-icons">close</i>
				</div>
				<div id="error_area" class="row chip red white-text" th:if="${trabalhoInexistenteError}">
				<span th:text="${trabalhoInexistenteError}"></span><i class="material-icons">close</i>
				</div>
				<div id="error_area" class="row chip red white-text" th:if="${eventoInexistenteError}">
				<span th:text="${eventoInexistenteError}"></span><i class="material-icons">close</i>
				</div>
			</div>
			<div class="row" th:switch="${#lists.isEmpty(trabalhos)}">
				<div class="row" th:case="true">
								<h4 class="card-title">Nenhum artigo para revisar até o momento.</h4>
				</div>
				<div class="row" th:case="false" >
					<div class="card horizontal" th:each="trabalho : ${trabalhos}">
						<div class="card-stacked">
							<div class="card-content">
								<span class="card-title" th:text="${trabalho.titulo}"></span>
								<div th:include="fragments/listar_participacoes :: listar('Revisor(es):', ${trabalho.revisores})"></div>
								<h6 th:text="'Trilha: ' + ${trabalho.trilha.nome}"></h6>
							</div>
							<div class="card-action" th:switch="${#lists.contains(trabalhosRevisados, trabalho.id)}">
								<a th:case='false' th:href="@{'/revisor/' + ${evento.id} + '/' + ${trabalho.id} + '/revisar'}"
									class="btn white-text waves-effect waves-light btn-large">REVISAR</a>
								<a th:case='true' class="btn white-text waves-effect waves-light btn-large light-green darken-2" th:disabled="${true}">REVISADO</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 
			<div class="row col s12 center">
				<ul class="pagination">
					<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
					<li class="active"><a href="#">1</a></li>
					<li class="waves-effect"><a href="#">2</a></li>
					<li class="waves-effect"><a href="#"><i	class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
			 -->
		</div>
	</div>
	  <div th:include="fragments/footer :: footer"></div>
</body>
</html>
