<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Constest - Controle de Eventos de Submissão</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<!-- CSS-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<nav role="navigation" class="purple darken-4">
		<div class="nav-wrapper container">
			<a href="#"><img src="../imgs/logotipo_white.png" alt="Contest"
				width="200px" /></a>
			<ul class="white-text right hide-on-med-and-down">
				<li><a href="#">Link 01</a></li>
				<li><a href="#">Link 02</a></li>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Link 01</a></li>
				<li><a href="#">Link 02</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i
				class="material-icons">menu</i></a>
		</div>
	</nav>
	<div class="container page">
		<br />
		<div class="row opcoes">
			<a href="revisor_index.html">Eventos Ativos</a>
		</div>
		<div class="row">
			<h1 th:text="${evento.nome}"></h1>
			<h2>Lista de Artigos para Revisão</h2>
			<div>
				<div id="error_area" class="row chip red white-text">
					"Mensagem de Erro"<i class="material-icons">close</i>
				</div>
			</div>
			<div class="row" th:if="${not #lists.isEmpty(trabalhos)}">
				<div class="row" th:each="trabalho : ${trabalhos}">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content">
								<span class="card-title" th:text="${trabalho.titulo}"></span>
								<h6 th:text="'Trilha: ' + ${trabalho.trilha.nome}"></h6>
							</div>
							<div class="card-action">
								<a th:href="@{'/revisor/' + ${evento.id} + '/' + ${trabalho.id} + '/revisar'}"
									class="btn white-text waves-effect waves-light btn-large">REVISAR</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row col s12 center">
				<ul class="pagination">
					<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
					<li class="active"><a href="#">1</a></li>
					<li class="waves-effect"><a href="#">2</a></li>
					<li class="waves-effect"><a href="#"><i
							class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div th:include="fragments/footer :: footer"></div>
</body>
</html>