<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Constest - Controle de Eventos de Submissão</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}"
	type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container page">
		<br />
		<div
			th:include="fragments/autor_menu_navegacao :: autor_menu_navegacao"></div>

		<h4 th:text="'Revisão - ' + ${titulo} "></h4>

		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3" th:each="revisao,iterStat : ${revisoes}"><a
						class="teal-text" th:href="'#revisao' + ${iterStat.count}"
						th:text="'Revisao '+ ${iterStat.count}"></a></li>
				</ul>
			</div>

			<div th:each="revisao,iterStat : ${revisoes}">
				<div th:id="'revisao'+ ${iterStat.count}" class="col s12">


					<div class="col m6 s6">
						<div>
							<h5 th:text="'Originalidade: ' + ${revisao.originalidade}"></h5>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.originalidade})"></div>
							<p>Tema atual e inovador, contribuição científica clara
								(quando tiver resultados), abordagem ou solução inovadora.</p>
						</div>
						<div>
							<h5 th:text="'Clareza: ' + ${revisao.clareza}"></h5>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.clareza})"></div>
							<p>Organização do texto, separação e ordenação das seções
								para os artigos, fluxo de ideias coerente, conclusões sobre o
								trabalho claras e possíveis dadas as premissas, bom uso de
								figuras/tabelas/exemplos.</p>
						</div>
						<div>
							<h5 th:text="'Relevância: ' + ${revisao.relevancia}"></h5>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.relevancia})"></div>
							<p>Relevância do tema abordado no artigo ou resumo.</p>
						</div>
						<div>
							<h5 th:text="'Merito Técnico: ' + ${revisao.merito}"></h5>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.merito})"></div>
							<p>Motivação, fundamentação teórica, metodologia. Para
								trabalhos que apresentam resultados, avaliar a aquisição e
								conclusões acerca dos resultados encontrados. Para trabalhos em
								andamento, avaliar os resultados esperados e o alcance dos
								resultados dado os objetivos de pesquisa e experimentos
								propostos.</p>
						</div>
						<div>
							<h5 th:text="'Qualidade do Texto: ' + ${revisao.qualidade}"></h5>
							<div
								th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.qualidade})"></div>
							<p>Redação do texto adequada: respeito pelas normas,
								bibliografia, redação correta em Português/Inglês. Respeito pela
								formatação especificada pelo edital (tamanho de fonte,
								espaçamento, tamanho máximo e mínimo).</p>
						</div>
					</div>
					<div class="col m6 s6">
						<div>
							<h5 th:text="'Status: ' + ${revisao.avaliacao_final}"></h5>
							<div th:replace="fragments/barra_de_progresso :: barra-revisao-status(${revisao.avaliacao_final})"></div>
						</div>
						<div>
							<h5 th:text="'Avaliação geral: ' + ${revisao.avaliacao_geral}"></h5>
							<div th:replace="fragments/barra_de_progresso :: barra-revisao(${revisao.avaliacao_geral})"></div>
							<p>Avaliação global do artigo. A nota final será obtida a
								partir dos quesitos: originalidade, mérito técnico, clareza,
								qualidade e relevância. A avaliação geral, assim como a
								auto-avaliação, servirá como critério para um eventual
								desempate.</p>
						</div>
						<div>
							<h5>Comentários do Revisor:</h5>
							<div class="progress">
								<div style="width: 100%" class="determinate"></div>
							</div>
							<p th:text="${revisao.comentarios_autores}">O artigo está
								muito bem escrito, bem claro e objetivo. No entanto, a
								contribuição do artigo baseia-se fortemente do resultado de
								outros trabalhos, já que durante o trabalho não foram realizadas
								simulações. Os resultados obtidos pelos autores da simulação
								podem ser explicado mais detalhadamente, visto que é a parte
								mais importante do artigo. No mais, a realização por parte do
								autor de simulações envolvendo os protocolos citados trariam
								grande valia a trabalho.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="page-footer purple darken-4">
		<div class="footer-copyright">
			<div class="container">
				<a href="http://www.npi.quixada.ufc.br" class="white-text">Desenvolvido
					por NPI - Núcleo de Práticas em Informática</a>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../js/materialize.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							//Inicialização dos elementos no JS
							//Parallax BG
							$('.parallax').parallax();

							//sideNav
							$(".button-collapse").sideNav();

							//Tooltips
							$('.tooltipped').tooltip({
								delay : 50
							});

							//select_initializer
							$('select').material_select();

							//datepicker
							$('.datepicker').pickadate(
									{
										selectMonths : true, // Creates a dropdown to control month
										selectYears : 15, // Creates a dropdown of 15 years to control year
										//Persnonalizando nomes dos meses do ano
										monthsFull : [ 'Janeiro', 'Fevereiro',
												'Março', 'Abril', 'Maio',
												'Junho', 'Julho', 'Agosto',
												'Setembro', 'Outubro',
												'Novembro', 'Dezembro' ],
										//Persnonalizando nomes dos dias da semana
										weekdaysFull : [ 'Domingo', 'Segunda',
												'Terça', 'Quarta', 'Quinta',
												'Sexta', 'Sábado' ],
										weekdaysShort : [ 'Dom', 'Seg', 'Ter',
												'Qua', 'Qui', 'Sex', 'Sab' ],
										weekdaysLetter : [ 'D', 'S', 'T', 'Q',
												'Q', 'S', 'S' ],
										today : 'Hoje',
										clear : 'Limpar',
										close : 'Fechar'
									});

							//Trata as datas na tela org_editar_eventos 
							var calendarioSubmissaoInicial = "#prazo_submissao_inicial";
							var calendarioSubmissaoFinal = "#prazo_submissao_final";
							var calendarioRevisaoInicial = "#prazo_revisao_inicial";
							var calendarioRevisaoFinal = "#prazo_revisao_final";

							function habilitarCalendario(calendario) {
								$(calendario).removeAttr("disabled");
							}

							function desabilitarCalendario(calendario) {
								$(calendario).attr("disabled", true);
								$(calendario).pickadate("clear");
							}

							function definirDataMinimaCalendario(calendario,
									dataMin) {
								var picker = getPicker(calendario);
								picker.set("min", dataMin);
							}

							function getPicker(idCalendario) {
								var $input = $(idCalendario).pickadate();
								var picker = $input.pickadate("picker");
								return picker;
							}

							function configurarCalendario(idCalendarioInicial,
									idCalendarioFinal) {
								var picker = getPicker(idCalendarioInicial);
								var dataAtual = picker.get();
								var umDia = 1;

								var dataMinima = new Date(dataAtual);
								dataMinima
										.setDate(dataMinima.getDate() + umDia);

								if (dataAtual.length == 0) {
									desabilitarCalendario(idCalendarioFinal);
								} else {
									habilitarCalendario(idCalendarioFinal);

									definirDataMinimaCalendario(
											idCalendarioFinal, dataMinima);
								}
							}

							$(calendarioSubmissaoInicial).on(
									"change",
									function() {
										configurarCalendario(
												calendarioSubmissaoInicial,
												calendarioSubmissaoFinal);
									});

							$(calendarioSubmissaoFinal).on(
									"change",
									function() {
										configurarCalendario(
												calendarioSubmissaoFinal,
												calendarioRevisaoInicial);
									});

							$(calendarioRevisaoInicial).on(
									"change",
									function() {
										configurarCalendario(
												calendarioRevisaoInicial,
												calendarioRevisaoFinal);
									});

							//Inicialização do Modal excluir Evento
							$('.modal-trigger').leanModal();

							$('ul.tabs').tabs();

						});
	</script>
</body>
</html>