<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Constest - Controle de Eventos de Submissão</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <nav role="navigation" class="purple darken-4">
      <div class="nav-wrapper container"><a href="#"><img th:src="@{/img/logotipo_white.png}" alt="Contest" width="200px"/></a>
        <ul class="white-text right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="container page"><br/>
      <div class="row opcoes">
        <a th:href="@{/autor/participarEvento}">Eventos Ativos</a>
		<a th:href="@{/autor/meusTrabalhos}">Meus Trabalhos</a>
        <a href="#">Meus Eventos </a>
        <a href="#">Revisores </a>
      </div>
      <div>
        <div th:if="${eventoVazioError}" th:text="${eventoVazioError}" id="error_area" class="row chip red white-text">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="row" th:if="${evento != null}">
        <div class="col m6 s4">
          <h5 th:text="${evento.nome}"></h5>
          <p th:text="${evento.descricao}"></p>
          <p th:text="'Inicio da Submissão: ' + ${#dates.format(evento.prazoSubmissaoInicial,'dd/MM/yyyy')}"></p>
          <p th:text="'Fim da Submissão: ' + ${#dates.format(evento.prazoSubmissaoFinal,'dd/MM/yyyy')}"></p>
          <p th:text="'Inicio da Revisão: ' + ${#dates.format(evento.prazoRevisaoInicial,'dd/MM/yyyy')}"></p>
          <p th:text="'Fim da Revisao: ' + ${#dates.format(evento.prazoRevisaoFinal,'dd/MM/yyyy')}"></p>
        </div>
        <div class="row">
          <div class="col s6">
            <h5>Você não enviou seu trabalho, clique no botão abaixo e não perca o prazo de submissão.  </h5>
          </div>
          <div class="col s6 center"><a th:href="@{'/autor/enviarTrabalhoForm/' + ${evento.id}}" class="waves-effect waves-light btn white-text">Adicionar Trabalho</a></div>
        </div>
      </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>