<!DOCTYPE html>
<html>
  <head>
   <div th:include="fragments/head :: head"></div>
  </head>
  <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container page"><br/>
	  <div th:include="fragments/autor_menu_navegacao :: autor_menu_navegacao"></div>
      <div class="row">
        <h2>Enviar Trabalho - Nome do Evento</h2>
        
        
        <form id="form" class="col s12" th:action="@{/autor/enviarTrabalhoForm}"  th:object="${trabalho}" method="POST" enctype="multipart/form-data">
          <div class="chip row red left col m12 s12" id="error_area" th:if="${erro}">
             <span class="white-text" th:text="#{FORMATO_ARQUIVO_INVALIDO}"></span>
             <i class="material-icons">close</i>
          </div>
          <div class="chip row red left col m12 s12" id="error_area" th:if="${foraDoPrazoDeSubmissao}">
             <span class="white-text" th:text="#{FORA_DA_DATA_DE_SUBMISSAO}"></span>
             <i class="material-icons">close</i>
          </div>
          <div class="chip row red left col m12 s12" id="error_area" th:if="${camposVazios}">
             <span class="white-text" th:text="#{CAMPOS_VAZIOS}"></span>
             <i class="material-icons">close</i>
          </div>
          
          <div class="error_area col s12" th:if="${#fields.hasErrors('*')}">
            <div class="chip row red left" th:each="err : ${#fields.errors('*')}">
              <span class="white-text" th:text="${err}"></span>
              <i class="material-icons">close</i>
            </div>
          </div>
          
          <input type="hidden" th:value="${eventoId}" name="eventoId"/>
          <div class="input-field col m12 s12">
            <input id="titulo_do_trabalho" type="text" th:field="*{titulo}"/>
            <label for="titulo_do_trabalho">Titulo do Trabalho</label>
          </div>
          
          
          <div id="autor" class="autor" >
	          <div class="input-field col m5 s5">
	            <input id="autor_nome" disabled="disabled"  type="text" th:value="${pessoa.nome}" />
	            <label for="autor_nome">Autor</label>
	          </div>
	          <div class="input-field col m5 s5">
	            <input id="autor_email" disabled="disabled" type="text" th:value="${pessoa.email}" />
	            <label for="autor_email" >Email Autor</label>
	          </div>
          </div>
          
          <!-- Inserção de dados de Co Autor
           
          <div id="coAutor" class="coAutor" >
	          <div class="input-field col m5 s5">
	            <input id="coAutor_nome" disabled="disabled"  type="text" />
	            <label for="coAutor_nome">CoAutor</label>
	          </div>
	          <div class="input-field col m5 s5">
	            <input id="coAutor_email" disabled="disabled" type="text" />
	            <label for="coAutor_email" >Email CoAutor</label>
	          </div>
          </div>
           -->
          
          
          
          <div id="coautores" class="coautores">
          </div>
          <div class="col m1 s1  adicionar-coautor">
            <a class="btn-floating btn-medium waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar Coautor"><i class="material-icons">add</i></a>
          </div>
          <div class="col m1 s1  remover-coautor">
            <a class="btn-floating btn-medium waves-effect waves-light red btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover Coautor"><i class="fa fa-minus"></i></a>
          </div>

          <div class="input-field col m6 s6">
            <select id="trilhas_select" name="trilhaId">
              <div th:each="trilha : ${trilhas}" >
                <option th:value="${trilha.id}" th:text="${trilha.nome}" selected="selected"></option>
              </div>
            </select>
            <label for="funcoes_select">Trilha no Evento</label>
          </div>
          <div class="file-field input-field col m6 s6">
            <div class="btn right"><span>Escolher...</span>
              <input type="file" name="file" class="multiple"/>
            </div>
            <div class="file-path-wrapper">
              <input type="text" placeholder="Selecione seu arquivo no formato .pdf" class="file-path validate"/>
            </div>
          </div>
          <div class="input-field col s4"><button type="submit" class="waves-effect waves-light btn white-text">Salvar Alterações<i aria-hidden="true" class="fa fa-floppy-o left">        </i></button></div>
        </form>
      </div>
      
      
      
    </div>
    <!-- footer -->
	<div th:include="fragments/footer :: footer"></div>
    <script type="text/javascript">
      $(document).ready(function(){
        //Inicialização dos elementos no JS
        //Parallax BG
        $('.parallax').parallax();
        
        //sideNav
        $(".button-collapse").sideNav();
        
        //Tooltips
        $('.tooltipped').tooltip({delay: 50});
        
        //select_initializer
        $('select').material_select();
        
        //datepicker
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year
          //Persnonalizando nomes dos meses do ano
          monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
          //Persnonalizando nomes dos dias da semana
          weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
          weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
          weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
          today: 'Hoje',
          clear: 'Limpar',
          close: 'Fechar'
        });
        
        //Trata as datas na tela org_editar_eventos 
        var calendarioSubmissaoInicial = "#prazo_submissao_inicial";
        var calendarioSubmissaoFinal = "#prazo_submissao_final";
        var calendarioRevisaoInicial = "#prazo_revisao_inicial";
        var calendarioRevisaoFinal = "#prazo_revisao_final";
        function habilitarCalendario(calendario){
          $(calendario).removeAttr( "disabled" );
        }
        
        function desabilitarCalendario(calendario){
          $(calendario).attr( "disabled", true );
          $(calendario).pickadate("clear");
        }
        
        function definirDataMinimaCalendario(calendario, dataMin){
          var picker = getPicker(calendario);
          picker.set("min", dataMin);
        }
        
        function getPicker(idCalendario){
          var $input = $(idCalendario).pickadate();
          var picker = $input.pickadate("picker");
          return picker;
        }
        
        function configurarCalendario(idCalendarioInicial, idCalendarioFinal){
          var picker = getPicker(idCalendarioInicial);
          var dataAtual = picker.get();
          var umDia = 1;
          
          var dataMinima = new Date(dataAtual);
          dataMinima.setDate(dataMinima.getDate()+umDia);
                
          if (dataAtual.length == 0) {
            desabilitarCalendario(idCalendarioFinal);
          } else {
            habilitarCalendario(idCalendarioFinal);       
            
            definirDataMinimaCalendario(idCalendarioFinal, dataMinima);
          }
        }
        
        $(calendarioSubmissaoInicial).on("change",function(){
          configurarCalendario(calendarioSubmissaoInicial, calendarioSubmissaoFinal);
        });
        
        $(calendarioSubmissaoFinal).on("change",function(){
          configurarCalendario(calendarioSubmissaoFinal, calendarioRevisaoInicial);
        });
        
        $(calendarioRevisaoInicial).on("change",function(){
          configurarCalendario(calendarioRevisaoInicial, calendarioRevisaoFinal);
        });
        
        //Inicialização do Modal excluir Evento
        $('.modal-trigger').leanModal();
        
        var next = 0;
        $('.adicionar-coautor').click(function() {
        	//add div nome
        	var divNome = $("<div />");
        	divNome.attr("id" ,"nomeDiv"+next+"");
        	divNome.addClass("input-field col m5 s5");
        	
        	divNome.append($("<input />").attr({
        		"type": "text",
        		"name":"participacoes["+next+"].pessoa.nome",
        		"id": "nome-coautor"+next+""
        	}));
        	divNome.append($("<label />").attr({
        		"for": "nome-coautor"+next+""
        	}).html("Coautor"));
        	$('#coautores').append(divNome);
        	
        	//add div email
        	var divEmail = $("<div />");
        	divEmail.attr("id" ,"emailDiv"+next+"");
        	divEmail.addClass("input-field col m5 s5");
        	divEmail.append($("<input />").attr({
        		"type": "text",
        		"name":"participacoes["+next+"].pessoa.email",
        		"id": "email-coautor"+next+""
        	}));
        	divEmail.append($("<label />").attr({
        		"for": "email-coautor"+next+""
        	}).html("Email Coautor"));
        	$('#coautores').append(divEmail);

            next++;
        });
        
        $(".remover-coautor").click(function(){
        	next--;
        	$("#nomeDiv"+next+"").remove();
        	$("#emailDiv"+next+"").remove();
        	
        });
        
      });
    </script>
  </body>
</html>