<!DOCTYPE html>
<html>
<head>
	<div th:include="fragments/head :: head"></div>
	<link th:href="@{/css/time-line-style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container page">
		<div th:include="fragments/autor_menu_navegacao :: autor_menu_navegacao"></div>
		<div>
			<div th:if="${eventoVazioError}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="#{ID_EVENTO_VAZIO_ERROR}">
				<i class="material-icons">close</i>
			</div>
			<div th:if="${eventoInexistenteError}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="#{EVENTO_NAO_EXISTE}">
				<i class="material-icons">close</i>
			</div>
			
			<div th:if="${participarEventoInativoError}" id="error_area" class="row chip red white-text" style="margin-right: 5px;margin-left: 5px;" th:text="#{PARTICIPAR_EVENTO_INATIVO}">
				<i class="material-icons">close</i>
			</div>
			
			<div th:if="${particapacaoEventoSucesso}" id="success_area" class="row chip green white-text" style="margin-right: 5px;margin-left: 5px;" th:text="#{PARTICAPAR_EVENTO_SUCESSO}">
				"M<i class="material-icons">close</i>
			</div>
			
		</div>
		<div class="row">
			<div class="col s12">
				<div class="input-field row">
					<input placeholder="Procurando um evento especifico?"
						id="filtro-nome" type="text" oninput="buscar(this,'card-stacked','card-content')" class="col s11 validate" /><a
						class="btn-floating btn-large waves-effect waves-light right">
						<i class="material-icons">search</i>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12" th:if="${!#lists.isEmpty(eventosParaParticipar)}">
			
			<div class="col s12 m7" th:each="evento : ${eventosParaParticipar}">
				<div class="card horizontal">
					<div class="card-stacked">
						<div th:include="fragments/evento_timeline::evento-timeline(evento=${evento})"></div>
						<div class="card-action" >
							<a th:if="${evento.isPeriodoInicial()}"
								th:attr="href='#modal' + ${evento.id}"
								class="btn white-text waves-effect waves-light confirmar modal-trigger">Participar como Autor</a>
							<a th:unless="${evento.isPeriodoInicial()}"
								class="btn disabled white-text grey">Período de inscrição encerrado</a>
						</div>
					</div>
				</div>

				<div th:attr="id='modal' + ${evento.id}" class="modal">
					<div class="modal-content">
						<h4>Participar do Evento</h4>
						<h5 th:text="${evento.nome}"></h5>
						<p>Tem certeza que quer participar deste evento?</p>
					</div>
					<form th:action="@{/autor/participarEvento}" method="post">
						
						<div class="modal-footer">
							<input type="hidden" name="idEvento" th:value="${evento.id}"/>
							<button type="submit" class="modal-action modal-close waves-effect btn-flat">Confirmar</button><a
							href="#" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col s12 m7" th:if="${!#lists.isEmpty(eventoParticipando)}">
			<div class="card horizontal" th:each="evento : ${eventoParticipando}">
				<div class="card-stacked">
					<div th:include="fragments/evento_timeline::evento-timeline(evento=${evento})"></div>
					<div class="card-action">
						<a class="purple-text">Participando</a>
					</div>
				</div>
			</div>
		</div>
				
	</div>
	<!-- footer -->
	<div th:include="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
	 <script type="text/javascript">
		$(document).ready(function(){
			
			buscar = function(e,componente,elementoABuscar) {
				var filtro = e;
				var componente = componente;
				var elementoABuscar = elementoABuscar;
				
				var nomeFiltro = removerAcentos(filtro.value.toLowerCase());
				var componenteCompleto = document.getElementsByClassName(componente);
				var elemento = document.getElementsByClassName(elementoABuscar);
				
				 for (var i = elemento.length - 1; i >=0; i--){
					var conteudoBusca = removerAcentos(elemento[i].firstElementChild.innerHTML);
					var corresponde = conteudoBusca.toLowerCase().indexOf(nomeFiltro) >= 0;
					componenteCompleto[i].style.display = corresponde ? '' : 'none';
					
			    } 
				
			};
		});
		
		/**
		 * Remove acentos de strings
		 * @param  {String} string acentuada
		 * @return {String} string sem acento
		 */
		var map={"â":"a","Â":"A","à":"a","À":"A","á":"a","Á":"A","ã":"a","Ã":"A","ê":"e","Ê":"E","è":"e","È":"E","é":"e","É":"E","î":"i","Î":"I","ì":"i","Ì":"I","í":"i","Í":"I","õ":"o","Õ":"O","ô":"o","Ô":"O","ò":"o","Ò":"O","ó":"o","Ó":"O","ü":"u","Ü":"U","û":"u","Û":"U","ú":"u","Ú":"U","ù":"u","Ù":"U","ç":"c","Ç":"C"};

		function removerAcentos(s){ return s.replace(/[\W\[\] ]/g,function(a){return map[a]||a}) };
		
		
	</script>
	
</body>
</html>