<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head"></div>

</head>

<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container">
		<div class="row">

			<h2 class="col s12">Dashboard</h2>

			<div class="row">

				<div class="col s8 md10">
					<div class="card white">
						<div class="card-content">
							<h5>Eventos Ativos</h5>

						</div>
					</div>
				</div>
				<div class="col s4 md8">
					<div class="col s12">
						<div class="card white">
							<div class="card-content"
								th:switch="${not #lists.isEmpty(trabalhosQueReviso)}">
								<h5>Como Revisor</h5>
								<div th:if="${#lists.isEmpty(trabalhosQueReviso)}">
									<b>Você não está revisando nenhum trabalho.</b>
								</div>
								<div th:if="${not #lists.isEmpty(trabalhosQueReviso)}">
									<ul>
										<li><a
											th:href="@{|/revisor/trabalho/${trabalhosQueReviso[0].trabalho.id}|}"
											th:text="${trabalhosQueReviso[0].trabalho.titulo}"></a></li>
										<li><a th:if="${trabalhosQueReviso.size()} > 1"
											th:href="@{|/revisor/trabalho/${trabalhosQueReviso[1].trabalho.id}|}"
											th:text="${trabalhosQueReviso[1].trabalho.titulo}"></a></li>
										<li><a th:if="${trabalhosQueReviso.size()} > 2"
											th:href="@{|/revisor/trabalho/${trabalhosQueReviso[2].trabalho.id}|}"
											th:text="${trabalhosQueReviso[2].trabalho.titulo}"></a></li>

									</ul>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/revisor/}"
									class="btn white-text waves-effect waves-light confirmar modal-trigger">Ver
									mais</a>
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="card white">
							<div class="card-content">
								<h5>Como Organizador</h5>
								<div th:if="${#lists.isEmpty(eventosQueOrganizo)}">
									<b>Você não está organizando nenhum evento ativo.</b>
								</div>
								<div th:if="${not #lists.isEmpty(eventosQueOrganizo)}">
									<ul>
										<li><a
											th:href="@{|/eventoOrganizador/evento/${eventosQueOrganizo[0].evento.id}|}"
											th:text="${eventosQueOrganizo[0].evento.nome}"></a></li>
										<li><a th:if="${eventosQueOrganizo.size()} > 1"
											th:href="@{|/eventoOrganizador/evento/${eventosQueOrganizo[1].evento.id}|}"
											th:text="${eventosQueOrganizo[1].evento.nome}"></a></li>
										<li><a th:if="${eventosQueOrganizo.size()} > 2"
											th:href="@{|/eventoOrganizador/evento/${eventosQueOrganizo[2].evento.id}|}"
											th:text="${eventosQueOrganizo[2].evento.nome}"></a></li>
									</ul>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/eventoOrganizador}"
									class="btn white-text waves-effect waves-light confirmar modal-trigger">Ver
									mais</a>
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="card white">
							<div class="card-content">
								<h5>Como Autor</h5>
								<div th:if="${#lists.isEmpty(trabalhosMinhaAutoria)}">
									<b>Você não é autor em nenhum trabalho.</b>
								</div>
								<div th:if="${not #lists.isEmpty(trabalhosMinhaAutoria)}">
									<ul>
										<li><a
											th:href="@{|/autor/file/${trabalhosMinhaAutoria[0].trabalho.id}|}"
											th:text="${trabalhosMinhaAutoria[0].trabalho.titulo}"></a></li>
										<li><a th:if="${trabalhosMinhaAutoria.size()} > 1"
											th:href="@{|/autor/file/${trabalhosMinhaAutoria[1].trabalho.id}|}"
											th:text="${trabalhosMinhaAutoria[1].trabalho.titulo}"></a></li>
										<li><a th:if="${trabalhosMinhaAutoria.size()} > 2"
											th:href="@{|/autor/file/${trabalhosMinhaAutoria[2].trabalho.id}|}"
											th:text="${trabalhosMinhaAutoria[2].trabalho.titulo}"></a></li>
									</ul>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/autor}"
									class="btn white-text waves-effect waves-light confirmar modal-trigger">Ver
									mais</a>
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="card white">
							<div class="card-content">
								<h5>Como Coautor</h5>
								<div th:if="${#lists.isEmpty(TrabalhosMinhaCoautoria)}">
									<b>Você não é Coautor em nenhum trabalho.</b>
								</div>
								<div th:if="${not #lists.isEmpty(TrabalhosMinhaCoautoria)}">
									<ul>
										<li><a
											th:href="@{|/coautor/file/${TrabalhosMinhaCoautoria[0].trabalho.id}|}"
											th:text="${TrabalhosMinhaCoautoria[0].trabalho.titulo}"></a></li>
										<li><a th:if="${TrabalhosMinhaCoautoria.size()} > 1"
											th:href="@{|/coautor/file/${TrabalhosMinhaCoautoria[1].trabalho.id}|}"
											th:text="${TrabalhosMinhaCoautoria[1].trabalho.titulo}"></a></li>
										<li><a th:if="${TrabalhosMinhaCoautoria.size()} > 2"
											th:href="@{|/coautor/file/${TrabalhosMinhaCoautoria[2].trabalho.id}|}"
											th:text="${TrabalhosMinhaCoautoria[2].trabalho.titulo}"></a></li>
									</ul>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/coautor/meusTrabalhos}"
									class="btn white-text waves-effect waves-light confirmar modal-trigger">Ver
									mais</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>
	<div th:include="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
	<script type="text/javascript"></script>
</body>

</html>