<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head"></div>
</head>
<body>
	<nav class="purple darken-4" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo center"><img
				th:src="@{/img/logotipo_white.png}" width="200px" alt="logo" /></a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="">
		<div class="container">
			<a
				class=" btn-large waves-effect waves-light purple right white-text"
				onclick="window.history.back()" alt="VOLTAR"> Voltar </a>
			<div class="row">
				<h1 class="center header">Esqueci minha senha</h1>
				<div class="col s12">
					<form th:action="@{/esqueci-minha-senha}" class="valign" method="post">

						<div class="input-field">
							<input type="email" name="email" id="email" required="required" /> <label
								for="email">*E-mail</label>
						</div>

						<br />
						<div class="right">
							<button class="right btn waves-effect purple darken-4"
								type="submit" id="btn_enviar">Enviar</button>
						</div>
					</form>
					<p>(*) campo obrigatório</p>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/footer :: footer" style="position:absolute;
    bottom:0; width:100%;"></div>
	<script type="text/javascript">

	</script>
</body>
</html>