h1, h2, h3 {
  font-weight: lighter;
  color:#37474f ;
}
.card .card-content .card-title{
	line-height: 28px;
}

.tabs .indicator {
    background-color: #009688;
}

.page{
  min-height: 650px;
}

.card.small{
	min-height: 400px;
}
.holder a.jp-next, .holder a.jp-previous,.holder a.jp-current, .holder a.jp-hidden {
	color: rgb(106,27,154) !important; 
	font-size: 15px;
}

.holder a.jp-next:hover, .holder a.jp-previous:hover,.holder a.jp-current:hover, .holder a.jp-hidden:hover {
	background-color: #fff !important;
}

.holder a:hover{
	background-color: rgb(106,27,154) !important;
}

.page{
  min-height: 650px;
}

.opcoes{
	padding-top: 20px;
}

.page a, .page a:visited {
  color: #6a1b9a;
  margin-right: 20px;
}

.scrollable{
	height:170px;;
	overflow:scroll;
}

.opcoes a{
  margin-right: 20px;
}
.opcoes a:hover{
  border-bottom: 2px solid #6a1b9a;
}

.parallax-container {
  height: 200px;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #6a1b9a;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #6a1b9a;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #6a1b9a;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid #6a1b9a ;
     box-shadow: 0 1px 0 0 #000;
   }
   
   /* icon prefix focus color */
   .input-field .prefix.active {
     color:#6a1b9a ;
   }

   
   /*DatePicker*/

.picker__date-display{
    background-color: #6a1b9a;
}

.picker__weekday-display{
    background-color: #6a1b9a;
}

.picker__today{
    color: #6a1b9a;
}

.picker__clear{
    color: #6a1b9a;
}

.picker__close{
    color: #6a1b9a;
}

.picker__day.picker__day--today{
    color:  #6a1b9a;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #6a1b9a;
}

/* text area color contest*/
.input-field textarea[type=text]:focus + label {
    color: #6a1b9a;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #6a1b9a;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field textarea[type=text].valid {
    border-bottom: 1px solid #6a1b9a ;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field textarea[type=text].invalid {
    border-bottom: 1px solid #6a1b9a ;
    box-shadow: 0 1px 0 0 #000;
}