<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head"></div>
<link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<title>Sessão - Trabalhos</title>
</head>
<body>
	<div th:include="fragments/header :: header"></div>

	<div id="modalAdicionarTrabalho" class="modal modal-fixed-footer"
		style="width: 80%; height: 70%">
		<div class="modal-content">
			<h4>Adicionar Trabalho</h4>
			<form class="col s12" th:action="@{/sessao/adicionar/trabalho}"
				method="post">
				<input type="hidden" th:value="${sessao.id}" th:name="idSessao" />
				<div class="row">

					<div class="row modal-form-row">
						<div class="input-field col s12">
							<select multiple="multiple" th:name="idTrabalhos">
								<option value="" disabled="disabled" selected="selected">Selecionar</option>
									<option th:each="trabalho : ${trabalhos}" th:value="${trabalho.id}" th:text="${trabalho.titulo}"></option>
							</select>
						</div>
					</div>

					<div class="modal-footer">
						<a
							class="modal-action modal-close btn waves-effect waves-light red"
							style="left: -50px;">Cancelar</a>
						<button class="btn waves-effect waves-light purple darken-4 left"
							type="submit" name="action">Adicionar</button>
					</div>
				</div>
			</form>

		</div>

	</div>

	<!--Seleção de trabalhos da sessão-->
	<div class="container">

		<div class="row opcoes">
			<a th:href="@{/eventoOrganizador}" style="color: #6a1b9a;">Meus
				Eventos</a> <a th:href="@{|/evento/${sessao.evento.id}/sessao/|}" style="color: #6a1b9a;">Sessões</a>
			<a href="#modalAdicionarTrabalho" class="modal-trigger"
				style="color: #6a1b9a;">Adicionar Trabalhos</a> <a
				class=" btn-large waves-effect waves-light purple right white-text"
				onclick="window.history.back()" alt="VOLTAR"> Voltar </a>
		</div>
	</div>


	<div class="container">
		<!--Dados da Sessão-->
		<div class="">
			<h4 class="center-align" th:text="${sessao.nome}"></h4>
			<h6 th:text="'Horário: '+${sessao.horario}"></h6>
			<h6 th:text="'Data: '+${sessao.dataSecao}"></h6>
			<h6 th:text="'Local: '+${sessao.local}"></h6>
			<h6 th:text="'Nº de Trabalhos: '+${qtdTrabalhos}"></h6>
			<a th:href="@{'/sessao/listarParticipantes/'+ ${sessao.id}}"
				class=" waves-effect btn-flat teal white-text" target="_blank">LISTAR
				PARTICIPANTES</a>
			<a th:href="@{/sessao/notificarAutor}" class="waves-effect btn-flat teal white-text row right" target="_blank">Notificar participantes</a>
		</div>

		<div th:if="${#lists.isEmpty(sessao.trabalhos)}">
			<h2 class="center">Não há trabalhos na sessão</h2>
		</div>

		<table class="bordered centered striped">
			<thead>
				<tr>
					<th>Nome Autor(es)</th>
					<th>Nome Trabalho</th>
					<th>Trilha</th>
					<th>Presença</th>
				</tr>
			</thead>

			<tbody th:each="trabalho,count : ${sessao.trabalhos}">
				<tr>
					<td width="250" th:text="${trabalho.autor.nome}"></td>
					<td width="300" th:text="${trabalho.titulo}"></td>
					<td width="100" th:text="${trabalho.trilha.nome}"></td>
					<td width="100">
						<input type="checkbox" th:id="|check${count.index}|"
							th:onclick="|addPresenca(${trabalho.id})|"
							name="statusApresentacao" th:checked="checked"
							th:if="${trabalho.statusApresentacao}"
						/>
						<input type="checkbox" th:id="|check${count.index}|"
							th:onclick="|addPresenca(${trabalho.id})|"
							name="statusApresentacao"
							th:unless="${trabalho.statusApresentacao}"
						/>
						 <label 
						class="black-text" th:for="|check${count.index}|"> </label></td>
					<td><a
						th:href="@{'/sessao/'+${sessao.id}+'/excluirTrabalho/'+${trabalho.id}}"
						class="waves-effect btn-flat red accent-4 white-text"
						id="btn_excluir_trabalho">Deletar<i
							class="material-icons right">delete</i></a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<br />

	<div th:include="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
		
		function addPresenca(trabalhoID) {

			var data = {
				'trabalhoId' : trabalhoID,
			};
			var token = $("meta[name='_csrf']").attr("content");

			$.ajax({
			  	  contentType: 'application/json;charset=UTF-8',
			  	  url: './../presenca',
			  	  dataType: 'json',
			  	  type: 'POST',
			  	  cache: false,
			  	  headers: {"X-CSRF-TOKEN":token},
			  	  processData: false,
			  	  data: JSON.stringify(data),
			  	  success: function (data) {
			  		log.console("Alterado com sucesso");
			      },
			  	});
		};
	</script>
</body>
</html>