<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head"></div>
<link th:href="@{/css/jPages.css}" type="text/css" rel="stylesheet" media="screen,projection" />
<title>Sessão - Contest</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container page">

    <div class="row opcoes">
        <a th:href="@{/eventoOrganizador}" style="color: #6a1b9a;">Meus Eventos</a>
        <a th:href="@{|/evento/${evento.id}/sessao/adicionar|}" style="color: #6a1b9a;">Cadastrar Sessão</a>
    
    <a class=" btn-large waves-effect waves-light purple right white-text"  onclick="window.history.back()" alt="VOLTAR" >
	       		Voltar
	 </a>
    </div>
    
<br/>

<div class="row" id="itemContainer">
<div th:if="${#lists.isEmpty(sessoes)}">
 <h1 class="center">Não há seções cadastradas</h1>
</div>
    <div class="col s12 m4" th:each="sessao:${sessoes}">
        <div  class="card purple darken-4">
            <div class="card-content white-text">
                <span class="card-title activator" th:text="${sessao.nome}"> <i class="material-icons right" id="tolltip1" title="Descrição da Sessão">description</i></span>
                <p th:text="'Data: '+${sessao.dataSecao}"></p>
                <p th:text="'Hora: '+${sessao.horario}"></p>
                <p th:text="'Local: '+${sessao.local}"></p>
                <p th:text="'Responsável: '+${sessao.responsavel.nome}"></p>
            </div>
           
            <div class="card-action">
                <a th:href="@{'/sessao/ver/'+${sessao.id}}" class="orange-text accent-3">Ver</a>
                <a th:href="@{'/sessao/editar/'+${sessao.id}}" class="orange-text accent-3">Editar</a>
                <a th:href="@{'/sessao/excluir/'+${sessao.id}}" class="orange-text accent-3 deleta_sessao">Excluir</a>
            </div>
        </div>
    </div>

</div>
<div class="row holder center"></div>
</div>

 <div th:include="fragments/footer :: footer"></div>
     <script type="text/javascript" th:src="@{/js/jPages.min.js}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      	//Inicialização do Jpages para realizar a paginação
    	 $("div.holder").jPages({
    	        containerID : "itemContainer",
    	        perPage : 6
    	    });
    	    /* on select change */
    	    $("select").change(function(){
    	        /* get new nº of items per page */
    	      var newPerPage = parseInt( $(this).val() );
    	      /* destroy jPages and initiate plugin again */
    	      $("div.holder").jPages("destroy").jPages({
    	            containerID   : "itemContainer",
    	            perPage       : newPerPage
    	        });
    	    });
    	    
    	    $(".deleta_sessao").on('click',function(e){
    	    	 var deleta = confirm("Deletar sessão?");
    	    	 
    	    	 if(deleta == false){
    	    		 return false;
    	    	 }
    	    });
    	    
      });
    </script>
</body>
</html>